@charset "utf-8";

/* FONTS */
@font-face{
	font-family:'SangSangBodyL';
	font-style:normal;
	font-weight:normal;
	src:url('/rs/mobile/fonts/SangSangBodyL.eot');
	src:local('?'), url('/rs/mobile/fonts/SangSangBodyL.woff') format('woff'), url('/rs/mobile/fonts/SangSangBodyL.ttf') format('truetype');
}
@font-face{
	font-family:'SangSangBodyM';
	font-style:normal;
	font-weight:normal;
	src:url('/rs/mobile/fonts/SangSangBodyM.eot');
	src:local('?'), url('/rs/mobile/fonts/SangSangBodyM.woff') format('woff'), url('/rs/mobile/fonts/SangSangBodyM.ttf') format('truetype');
}
@font-face{
	font-family:'SangSangTitleM';
	font-style:normal;
	font-weight:normal;
	src:url('/rs/mobile/fonts/SangSangTitleM.eot');
	src:local('?'), url('/rs/mobile/fonts/SangSangTitleM.woff') format('woff'), url('/rs/mobile/fonts/SangSangTitleM.ttf') format('truetype');
}
@font-face{
	font-family:'SangSangTitleB';
	font-style:normal;
	font-weight:normal;
	src:url('/rs/mobile/fonts/SangSangTitleB.eot');
	src:local('?'), url('/rs/mobile/fonts/SangSangTitleB.woff') format('woff'), url('/rs/mobile/fonts/SangSangTitleB.ttf') format('truetype');
}

/* FONTS */

/* NEW FONTS */
@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: local('SUIT Thin'), url('../fonts/SUIT-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: local('SUIT ExtraLight'), url('../fonts/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: local('SUIT Light'), url('../fonts/SUIT-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: local('SUIT Regular'), url('../fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: local('SUIT Medium'), url('../fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: local('SUIT SemiBold'), url('../fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: local('SUIT Bold'), url('../fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: local('SUIT ExtraBold'), url('../fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: local('SUIT Heavy'), url('../fonts/SUIT-Heavy.woff2') format('woff2');
}
/*// NEW FONTS */



html, body { 
	height:100%;
}
body {
	-webkit-text-size-adjust:none;
} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
body * {
	box-sizing:border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
header, footer, nav, menu, section, article, aside, *:after, *:before {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	word-break: break-all;
	font-family:'SangSangBodyL','NanumGothic','돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-serif;;
	font-size:inherit;
	vertical-align:top;
	letter-spacing:-0.25px;
	line-height:1.5;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
sup { 
    vertical-align: super !important;
    font-size: smaller !important;
}
header, footer, section, article, aside, nav, 
hgroup, details, menu, figure, figcaption {
    display: block;
}

table {
	border-collapse: separate;
	border-spacing: 0; 
	table-layout:fixed; 
	word-wrap:break-word; 
	word-break:break-all; 
}
table th, table td {
	text-align:center; 
	vertical-align:middle;
}
ol, ul, li {
	list-style: none outside none;
}

a { color:#666;
	text-decoration:none;
	vertical-align: top; 
}
/* a:hover, a:visited {
	text-decoration:underline;
} */
img { 
	width: 100%; 
	border: 0 none; 
	vertical-align: top;
}
hr {
	display: none;
}
form input, form select, form label, form img {
	vertical-align: middle;
}
fieldset {
	border: 0 none;
}
em, address {
	font-style: normal;
}
iframe {
	margin: 0; 
	padding: 0;
}
legend, .blind {
	visibility:hidden;
	position:absolute;
	left:-99999em;
	width:1px;
	height:1px;
	text-indent:-9999em;
	font-size:0;
	top:-9999em;
	overflow:hidden;
}
caption {
	width:0; 
	height:0; 
	font-size:0; 
	line-height:0; 
	overflow:hidden; 
	visibility:hidden;
	line-height:0;
}
/* 
option {
	height:30px; 
	font-size:13px;
	color:#666;
	letter-spacing:-0.5px;
}
*/
button {
	padding:0;
	margin:0;
	background:none;
	border:0;
	border-radius:0;
	cursor:pointer;
}
button::-moz-focus-inner {
	border:0; 
	padding:0;
}
button::-ms-focus-inner {
	border:0; 
	padding:0;
}

/* firefox focus outline bug reset 
header h1 *:focus,
footer *:focus,
#toplounge *:focus,
#gnb *:focus,
#sitesearch *:focus,
#travel_word *:focus,
#webzine *:focus,
#publicinfo *:focus,
.walking_mark *:focus,
.walking_info *:focus,
.travel_walking_guide *:focus,
.share_botton *:focus { overflow:hidden; }*/

