








<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1920"><!-- // 수정 -->
<meta name="keywords" content="기부,기부금,지역아동센터,공모전,종합사회복지관,사회복지사,대학생활동,의료비지원,대학생봉사활동,사회공헌,봉사활동,자원봉사,지원사업,경차지원,해외봉사,봉사,학생자원봉사,대학생해외봉사,기업사회공헌,복지재단,후원금,사회복지재단,복지,의료비,정기후원,대학생봉사" />
<meta property="og:url" content=" https://www.ktngwelfare.org/main">
<meta property="og:title" content="KT&amp;G복지재단">
<meta property="og:description" content="KT&amp;G복지재단에 오신것을 환영합니다.">		
<meta property="og:image" content="https://www.ktngwelfare.org/rs/images/ktng_ogImage.png">

<title>'KT&amp;G복지재단'</title>

<!-- 운영 버전과 같음 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css">

<!-- 운영 버전과 같음 -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- 운영 버전과 같음 -->
<script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

<!-- 메인 리뉴얼 추가 -->
<link rel="stylesheet" type="text/css" href="../../../resources/css/renew-common.css"/><!-- //공통 파일 -->
<link rel="stylesheet" type="text/css" href="../../../resources/css/renew-main.css"/>

<script type="text/javascript" src="../../../resources/js/ui_common_renew2025.js"></script><!-- //공통 파일 -->
<script type="text/javascript" src="../../../resources/js/main/main-renew2025.js"></script>
<!--// 메인 리뉴얼 추가 -->

</head>

<body>
<div id="wrapper" class="main">

  <header id="header-wrap" class="header-wrap ">
    <div class="header-inner">
      <!-- 로고 -->
      <h1 class="logo">
        <a href="#">
          <img src="../../../resources/images/common/img-logo-renewal2025.png" alt="KT&G 복지재단">
        </a>
      </h1>

      <!-- GNB -->
      <nav class="gnb">
        <ul class="depth1">
          <li class="dep1 ">
            <!-- 현재 페이지 클래스 : act -->
            <a href="#" class=""><span>재단소개</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="재단소개 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">재단소개</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">인사말</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">연혁</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <!-- 2 -->
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">조직도</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">오시는길</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
          <li class="dep1 ">
            <a href="#"><span>사업안내</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="사업안내 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">국내사업</span>
                        <span class="icon-arr"></span>
                      </a>
                      <ul class="depth3">
                        <li><a href="#" class="dep3">취약계층 지원사업</a></li>
                        <li><a href="#" class="dep3">복지시설 지원사업</a></li>
                        <li><a href="#" class="dep3">자원봉사 활성화사업</a></li>
                      </ul>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">해외사업</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
          <li class="dep1">
            <a href="#"><span>복지센터</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="복지센터 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">복지센터 안내</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">지역별 복지센터</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
          </li>
          
          <li class="dep1 ">
            <a href="#" class=""><span>자원봉사센터(&터)</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="자원봉사센터(&터) 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">자원봉사센터 사업안내</span>
                        <span class="icon-arr"></span>
                      </a>
                      <ul class="depth3">
                        <li><a href="#" class="dep3">협력동아리</a></li>
                        <li><a href="#" class="dep3">국내봉사</a></li>
                        <li><a href="#" class="dep3">해외봉사</a></li>
                        <li><a href="#" class="dep3">봉사단 운영</a></li>
                      </ul>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">공지사항</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">프로그램 신청</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <!-- 2 -->
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">게시판</span>
                        <span class="icon-arr"></span>
                      </a>
                      <ul class="depth3">
                        <li><a href="#" class="dep3">앨범게시판</a></li>
                        <li><a href="#" class="dep3">영상게시판</a></li>
                        <li><a href="#" class="dep3">통합자료실</a></li>
                      </ul>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">오시는길</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li><!--//dep1-->
          <li class="dep1">
            <a href="#"><span>후원</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="후원 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">후원자 안내</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">일시후원</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">정기후원</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>

                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">후원금 모금내역</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
          <li class="dep1">
            <a href="#"><span>알림센터</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="알림센터 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">공지사항</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">앨범게시판</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">FAQ</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>

                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">Q&A</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
        </ul>
      </nav>

      <!-- 우측 메뉴 -->
      <div class="util-menu">
        <div class="li util-a">
          <a href="#" class="">로그인</a>
          <a href="#">회원가입</a>
        </div>
        <div class="li">
          <a href="javascript:void(0)" class="btn-sitemap sitemap_btn"><!--// 운영 js 클래스 sitemap_btn 그대로 사용 -->
            <img src="../../../resources/images/common/btn-sitemap.png" alt="사이트맵 전체보기" />
          </a>
        </div>
      </div>
    </div>
  </header>
  <!--//header-->
  
  <section id="container" class="main_cont">
    <div class="visual">
      <div class="visual-inner">
        <div class="swiper-container main-visual-container sw-visual-main-js">
          <div class="swiper-wrapper">
            <div class="swiper-slide "> 
              <div class="slide_inr">
                <a href="">
                  <div class="img">
                    <img src="../../../resources/images/main-renewal/img-visual1.png" alt="더불어 사는 세상 1">
                  </div>
                  <div class="slide-content">
                      <h2>더불어 사는 세상 1</h2>
                      <p>행복을 나누는 것<br>그 가치를 KT&amp;G복지재단이 함께하겠습니다.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide "> 
              <div class="slide_inr">
                <a href="">
                  <div class="img">
                    <img src="../../../resources/images/main-renewal/img-visual1.png" alt="더불어 사는 세상 1">
                  </div>
                  <div class="slide-content">
                      <h2>더불어 사는 세상 2</h2>
                      <p>행복을 나누는 것<br>그 가치를 KT&amp;G복지재단이 함께하겠습니다.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide "> 
              <div class="slide_inr">
                <a href="">
                  <div class="img">
                    <img src="../../../resources/images/main-renewal/img-visual1.png" alt="더불어 사는 세상 1">
                  </div>
                  <div class="slide-content">
                      <h2>더불어 사는 세상 3</h2>
                      <p>행복을 나누는 것<br>그 가치를 KT&amp;G복지재단이 함께하겠습니다.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide "> 
              <div class="slide_inr">
                <a href="">
                  <div class="img">
                    <img src="../../../resources/images/main-renewal/img-visual1.png" alt="더불어 사는 세상 1">
                  </div>
                  <div class="slide-content">
                      <h2>더불어 사는 세상 4</h2>
                      <p>행복을 나누는 것<br>그 가치를 KT&amp;G복지재단이 함께하겠습니다.</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="control-area">
            <div class="sw-pagination"></div>
          </div>
          <!--//control-area-->
        </div>
      </div>
    </div><!-- //visual -->  

    <div class="contbox-ty1 cont_ty1">
      <div class="title-ty1  title-ty1-mb">
        <p class="color-id-ty1">재단사무처</p>
        <h3>더 좋은 내일을 상상합니다.</h3>
      </div>
      <div class="ulbox-ty1">
        <div class="li">
          <a href="https://www.ktngwelfare.org/business/business2">
            <div class="text-wrap">
              <div class="txt-box">
                <p class="tit-1">의료비지원 신청</p>
                <p class="txt-1">일상을 지켜주는 가장 기본적인 도</p>
              </div>
              <div class="btn-a">
                <span>
                  <img src="../../../resources/images/main-renewal/btn_a.png" alt=" " />
                </span>
                <img class="btn-bg-a" src="../../../resources/images/main-renewal/icon_business1.png" alt=" " />
              </div>
            </div>
            
          </a>
        </div><!--// li-->
        <div class="li">
          <a href="https://www.ktngwelfare.org/business/business3">
            <div class="text-wrap">
              <div class="txt-box">
                <p class="tit-1">학습 · 문화예술지원 신청</p>
                <p class="txt-1">어린이의 행복과 즐거운 삶을 위한 시작</p>
              </div>
              <div class="btn-a">
                <span>
                  <img src="../../../resources/images/main-renewal/btn_a.png" alt=" " />
                </span>
                <img class="btn-bg-a" src="../../../resources/images/main-renewal/icon_business2.png" alt=" " />
              </div>
            </div>
          </a>
        </div><!--// li-->
      </div><!--//ulbox-ty1-->
    </div><!--//contbox-ty1-->

    <div class="contbox-full-gray-ty1 ">
      <div class="contbox-ty1 cont_ty1 flex-cont">
        <div class="tr">
          <div class="title-ty1 title-ty1-mb">
            <p class="color-id-ty2">자원봉사센터(&터)</p>
            <h3>함께 나눔을 실천합니다.</h3>
          </div>
          <div class="flex-ty1">
            <div class="box-1">
              <div class="title-ty2">
                <h4>프로그램 신청</h4>
                <a href="https://www.ktngwelfare.org/enter/volunteerApply/volunteer" class="btn-alink">
                  <span>자세히보기</span>
                  <img src="../../../resources/images/main-renewal/btn-more-view-link.png" alt=" " />
                </a>
              </div><!--//title-ty2-->
              <!--https://www.ktngwelfare.org/enter/circle-->
              <ul class="list-ty1">
                <li>
                  <a href="javascript:void(0)">
                    <span>모집중</span>
                    <p>
                      2024년 아름드리 일일산타 <br />&lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                    </p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span>모집중</span>
                    <p>
                      2024년 아름드리 일일산타 <br />&lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                    </p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="off">마감</span>
                    <p>
                      2024년 아름드리 일일산타 <br />&lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                    </p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="off">마감</span>
                    <p>
                      2024년 아름드리 일일산타 <br />&lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                      2024년 아름드리 일일산타 &lt;스탭 봉사자&gt; 모집
                    </p>
                  </a>
                </li>
              </ul>
              <!--//list-ty1-->
            </div><!--// box-1-->
            <div class="box-1">
              <div class="title-ty2">
                <h4>협력동아리</h4>
                <a href="https://www.ktngwelfare.org/enter/circle" class="btn-alink">
                  <span>자세히보기</span>
                  <img src="../../../resources/images/main-renewal/btn-more-view-link.png" alt=" " />
                </a>
              </div><!--//title-ty2-->
              <div class="sns-wrap">
                <div class="li">
                  <div class="club-box">
                    <img src="../../../resources/images/main-renewal/club-box-bg.png" alt=" " />
                    <div class="text-box">
                      <p>대학생 자원봉사 동아리와 함께<br />나눔의 가치를 실천합니다.</p>
                      <a href="#">협력동아리 현황</a>
                    </div>
                  </div>
                  <!--//club-box-->
                </div>
                <div class="li ">
                  <div class="ul-sns">
                    <div class="box-li sns-title">
                      SNS
                    </div><!--//box-li-->
                    <div class="box-li sns-icon-box">
                      <ul class="sns-list">
                        <li>
                          <a href="https://www.instagram.com/ktng_vol/" target="_blank">
                            <img src="../../../resources/images/main-renewal/icon-instagram.png" alt="ktng 인스타그램" />
                            인스타
                          </a>
                        </li>
                        <li>
                          <a href="https://www.youtube.com/channel/UCrqfYlncuaMBziN3DweYbLg" target="_blank">
                            <img src="../../../resources/images/main-renewal/icon-youtube.png" alt="ktng 유튜브" />
                            유튜브
                          </a>
                        </li>
                        <li>
                          <a href="https://blog.naver.com/ktngvol" target="_blank">
                            <img src="../../../resources/images/main-renewal/icon-blog.png" alt="ktng 블로그" />
                            블로그
                          </a>
                        </li>
                        <li>
                          <a href="https://www.facebook.com/KTNGVOL" target="_blank">
                            <img src="../../../resources/images/main-renewal/icon-facebook.png" alt="ktng 페이스북" />
                            페이스북
                          </a>
                        </li>
                      </ul>
                    </div><!--//box-li-->
                  </div><!--//ul-sns-->
                </div>
                <!--//sns-list-->
              </div><!--//sns-wrap-->
            </div><!--// box-1-->
          </div>
        </div><!--//tr-->
        <div class="tr">
          <!-- Swiper & Popup 구조 -->
          <div class="youtube-layout">
            <!--//youtube-play-box-->
            <!-- 메인 영상 -->
            <div class="swiper main-swiper main-swiper-js">
              <div class="swiper-wrapper">
                <div class="swiper-slide btn-mov" >
                  <div class="youtube-inner">
                    <iframe width="742" height="417" src="https://www.youtube.com/embed/luYDZF9L7I8?rel=0&enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
                    <!--<img src="../../../resources/images/main-renewal/img-big-thumbs1.png" alt="영상플레이 1">-->
                  </div>
                </div>
                <div class="swiper-slide btn-mov" >
                  <div class="youtube-inner">
                    <iframe width="742" height="417" src="https://www.youtube.com/embed/6SQN6FnBInM?version=3&amp;amp;hl=ko_KR&amp;amp;rel=0&amp;amp;autoplay=0&enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </div>
                <div class="swiper-slide btn-mov" >
                  <div class="youtube-inner">
                    <iframe width="742" height="417" src="https://www.youtube.com/embed/oueul3AAKLc?version=3&amp;amp;hl=ko_KR&amp;amp;rel=0&amp;amp;autoplay=0&enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>

            <!-- 썸네일 + 제목 -->
            <div class="thumbs-wrap">
              <div class="swiper thumbs-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="../../../resources/images/main-renewal/img-small-thumbs1.png" alt="영상 1">
                  </div>
                  <div class="swiper-slide">
                    <img src="../../../resources/images/main-renewal/img-small-thumbs1.png" alt="영상 2">
                  </div>
                  <div class="swiper-slide">
                    <img src="../../../resources/images/main-renewal/img-small-thumbs1.png" alt="영상 3">
                  </div>
                </div>
              </div>
              <div class="thumb-title">
                <div>
                  <h3>&터 활동 스토리</h3>
                  <a href="https://www.ktngwelfare.org/enter/bbs/evideo" class="more-btn">자세히보기 <img src="../../../resources/images/main-renewal/icon-btn-view.png" alt="자세히보기" /></a>
                </div>
              </div>
            </div><!--//thumbs-wrap-->
          </div><!--//youtube-layout-->
        </div><!--//tr-->
        <div class="img-abs-right">
            <img src="../../../resources/images/main-renewal/img-icon-stroy.png" alt="&터 활동 스토리 형상 이미지">
          </div>
      </div><!--//contbox-ty1-->
    </div><!--// contbox-full-gray-ty1-->

    <div class="contbox-ty1 cont_ty1">
      <div class="flex-ty2 title-ty1-mb">
        <div class="title-ty1">
          <p class="color-id-ty3">지역별복지센터</p>
          <h3>이웃에게 따뜻한 희망을 전합니다.</h3>
        </div>
        <div>
          <a href="#" class="more-btn">자세히보기 <img src="../../../resources/images/main-renewal/icon-btn-view.png" alt="자세히보기"></a>
        </div>
      </div>
      
      <div class="welfare-center-list">
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=1">
          <h4>남부</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=2">
          <h4>북부</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=5">
          <h4>동부</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=4">
          <h4>서부</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=6">
          <h4>중부</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=7">
          <h4>인천</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=10">
          <h4>성남</h4>
          <p>복지센터</p>
        </a>
        <a href="https://www.ktngwelfare.org/welfare/center/wnotice?area=11">
          <h4>경기북부</h4>
          <p>복지센터</p>
        </a>
      </div><!--/welfare-center-list-->
      <div class="img-welfare --left">
        <img src="../../../resources/images/main-renewal/img-welfare-center-left.png" alt="">
      </div>
      <div class="img-welfare --right">
        <img src="../../../resources/images/main-renewal/img-welfare-center-right.png" alt="">
      </div>
    </div><!--//contbox-ty1 cont_ty1 -->

    <div class="contbox-full-gray-ty3">
      <div class="bg-box"></div>
      <div class="contbox-ty1 flex-cont-ty3">
        <div class="title-box">
          <span>후원</span>
          <p>따뜻한 나눔 사회를 위한 첫걸음에 동참해 주세요</p>
        </div>
        <div class="btn-wrap">
          <a href="">
            일시후원
          </a>
          <a href="">
            정기후원
          </a>
        </div>
      </div>
    </div><!--//contbox-full-gray-ty3-->

    <div class="contbox-ty1 cont_ty1">
      <div class="flex-ty2 title-ty1-mb">
        <div class="title-ty1">
          <p class="color-id-ty4">알림센터</p>
          <h3>KT&G복지재단의 소식을 확인하세요.</h3>
        </div>
        <div>
          <a href="#" class="more-btn">자세히보기 <img src="../../../resources/images/main-renewal/icon-btn-view.png" alt="자세히보기"></a>
        </div>
      </div>

      <div class="notice-list">
        <div class="notice-item pinned">
          <div class="notice-date">24.10.11</div>
          <div class="notice-title">2024년 아름드리 일일산타&lt;스탭 봉사자&gt; 모집</div>
          <div class="pin-icon">
            <img src="../../../resources/images/main-renewal/icon_pin_24.png" alt="자세히보기">
          </div>
        </div>
        <div class="notice-item pinned">
          <div class="notice-date">24.01.03</div>
          <div class="notice-title">KT&amp;G복지재단 창립 20주년 나눔백서 발간 (다운로드)</div>
          <div class="pin-icon">
            <img src="../../../resources/images/main-renewal/icon_pin_24.png" alt="자세히보기">
          </div>
        </div>
        <div class="notice-item not">
          <div class="notice-date">24.09.30</div>
          <div class="notice-title">
            2024년 사회복지기관 차량지원 공모사업 선정발표 관련
            
          </div>
        </div>
        <div class="notice-item not">
          <div class="notice-date">24.09.30</div>
          <div class="notice-title">재단 휴무 안내 - 10/1(화), 10/3(목), 10/4(금), 10/9(수)</div>
        </div>
        <div class="notice-item not">
          <div class="notice-date">24.09.13</div>
          <div class="notice-title">재단 휴무 안내 - 9/13(금) 12:00 ~ 9/18(수)</div>
        </div>
      </div><!--//notice-list-->
      <div class="btn-faq-qna-box">
        <a href="">
          FAQ
        </a>
        <a href="">
          Q&A
        </a>
      </div>
    </div><!--//contbox-ty1 cont_ty1-->
  </section>
  <!--//main_cont-->
<script>
/*상단 visual Swiper */
var mySwiper = new Swiper('.sw-visual-main-js', {
  loop: true,
  autoplayDisableOnInteraction: false,
  slidesPerView: 1,        
  autoHeight: true,
  autoplay: {
      delay: 3000,
  }, 
  // effect: 'fade',
  // fadeEffect: {
  //     crossFade: true
  // },
  pagination: {
      el: '.sw-pagination',
      clickable: 'true',
      type: 'bullets',
      renderBullet: function (index, className) {
          return '<span class="' + className + '">' + '<i></i>' + '<b></b>'  + '</span>';
        },
  
  },
});

// &터 현장스케치
const thumbsSwiper = new Swiper('.thumbs-swiper', {
  direction: 'vertical',
  slidesPerView: 3,
  spaceBetween: 24,
  watchSlidesProgress: true
});

const mainSwiper = new Swiper('.main-swiper-js', {
  spaceBetween: 10,
  thumbs: {
    swiper: thumbsSwiper
  }
});

mainSwiper.on('slideChange', function() {
  players.forEach((player, i) => {
    if (i !== mainSwiper.activeIndex) {
      try {
        player.stopVideo(); // 이전 영상 정지
      } catch(e) {
        console.warn('player stop 실패', e);
      }
    }
  });
});

let players = [];

// YouTube Iframe API 준비되면 실행
function onYouTubeIframeAPIReady() {
  const iframes = document.querySelectorAll('.main-swiper-js iframe');
  iframes.forEach((iframe, i) => {
    players[i] = new YT.Player(iframe);
  });
}

</script>
  <footer id="footer" class="footer">
    <div class="footer-top-line">
      <div class="footer-top">
          <div>
              <h2>KT&G복지재단의 다양한 소식을 전합니다.</h2>
              <p>지금 이메일 구독을 통해 따뜻한 재단소식을 받아보세요.</p>
          </div>
          <a href="" class="footer-btns btns-subscribe">뉴스레터 구독하기</a>
      </div>
    </div>
    <div class="footer-inner">
      <div class="footer-bottom">
        <div>
            <div class="footer-links">
                <a href="https://www.ktngwelfare.org/account/privacy">개인정보처리방침</a> <span></span>
                <a href="https://www.ktngwelfare.org/account/service">이용약관</a> <span></span>
                <a href="javascript:emailCollectPop()" title="이메일무단수집거부">이메일무단수집거부</a> <span></span><!--// 운영 함수 그대로 사용 -->
                <a href="https://www.ktngwelfare.org/introduce/location">오시는길</a>
            </div>
            <div class="footer-info">
                사회복지법인 케이티엔지복지재단 (고유번호:120-82-0672) | 대표자 민영진<br>
                (06181) 서울특별시 강남구 대치로 98길 8, 14층 (대치동, KT&G 대치타워)<br>
                대표전화 02-563-4459 | 9시~18시 (12~13시 제외)
            </div>
        </div>

        <div class="footer-right">
          <!--<button class="footer-btns btns-contact">홈페이지 문의접수</button>-->
          <a href="https://www.ktngwelfare.org/notice/nomember" class="footer-btns btns-contact">홈페이지 문의 접수</a>
          <div class="familysite-box familysite-js">
            <a href="javascript:;" class="btn_family">
              Family Site
              <span class="icon"></span>
            </a>
            <ul>
              <li><a href="https://www.ktng.com" target="_blank">KT&amp;G</a></li>
              <li>
                <a href="https://www.kgc.co.kr" target="_blank">KGC인삼공사</a>
              </li>
              <li>
                <a href="https://www.sangsangmadang.com" target="_blank">KT&amp;G상상마당</a>
              </li>
              <li>
                <a href="https://scholarship.ktngtogether.com" target="_blank">KT&amp;G장학재단</a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--//footer-bottom-->
    </div><!--//footer-inner-->
  </footer>
</div><!-- //wrapper -->

<!-- 공통 퀵메뉴-->
<div class="quick-menu">
  <a href="https://www.ktngwelfare.org/notice/news" class="btn_floating btn-notice">
    <span class="icon"><img src="../../../resources/images/common/icon-btn-notice.png" alt="공지사항 아이콘" /></span>
    <span>공지사항</span>
  </a>
  <a href="https://www.ktngwelfare.org/support/online/once/step01" class="btn_floating btn-donate">
    <span class="icon"><img src="../../../resources/images/common/icon-btn-donate.png" alt="후원 아이콘" /></span>
    <span>
      후원
    </span>
  </a>
  <button type="button" class="btn_floating btn-top">
    <span class="icon"><img src="../../../resources/images/common/icon-btn-top-arow.png" alt="TOP 아이콘" /></span>
    <span>TOP</span>
  </button>
</div>

</body>
</html>
