








<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1460"><!-- // 수정 1760-->
<meta name="keywords" content="기부,기부금,지역아동센터,공모전,종합사회복지관,사회복지사,대학생활동,의료비지원,대학생봉사활동,사회공헌,봉사활동,자원봉사,지원사업,경차지원,해외봉사,봉사,학생자원봉사,대학생해외봉사,기업사회공헌,복지재단,후원금,사회복지재단,복지,의료비,정기후원,대학생봉사" />
<meta property="og:url" content=" https://www.ktngwelfare.org/main">
<meta property="og:title" content="KT&amp;G복지재단">
<meta property="og:description" content="KT&amp;G복지재단에 오신것을 환영합니다.">		
<meta property="og:image" content="https://www.ktngwelfare.org/rs/images/ktng_ogImage.png">

<title>'KT&amp;G복지재단'</title>


<!-- 운영 버전과 같음 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css">

<!-- 기존 소스 수정 안함 -->
<link rel="stylesheet" type="text/css" href="../../../resources/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/layout.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/style.css" />

<link rel="stylesheet" type="text/css" href="../../../resources/css/renew.css"/>
<!-- //기존 소스 수정 안함 -->


<!-- 운영 버전과 같음 -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- 운영 버전과 같음 -->
<script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

<!-- 메인 리뉴얼 추가 -->
<link rel="stylesheet" type="text/css" href="../../../resources/css/renew-common.css"/><!-- //공통 파일 -->
<link rel="stylesheet" type="text/css" href="../../../resources/css/renew-main.css"/>

<script type="text/javascript" src="../../../resources/js/ui_common_renew2025.js"></script><!-- //공통 파일 -->
<script type="text/javascript" src="../../../resources/js/main/main-renew2025.js"></script>
<!--// 메인 리뉴얼 추가 -->

</head>

<body>
<div id="wrapper" class="main">

  <header id="header-wrap" class="header-wrap ">
    <div class="header-inner">
      <!-- 로고 -->
      <h1 class="logo">
        <a href="#">
          <img src="../../../resources/images/common/img-logo-renewal2025.png" alt="KT&G 복지재단">
        </a>
      </h1>

      <!-- GNB -->
      <nav class="gnb">
        <ul class="depth1">
          <li class="dep1 ">
            <!-- 현재 페이지 클래스 : act -->
            <a href="#" class=""><span>재단소개</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="재단소개 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">재단소개</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">인사말</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">연혁</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <!-- 2 -->
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">조직도</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">오시는길</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
          <li class="dep1 ">
            <a href="#"><span>사업안내</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="사업안내 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">국내사업</span>
                        <span class="icon-arr"></span>
                      </a>
                      <ul class="depth3">
                        <li><a href="#" class="dep3">취약계층 지원사업</a></li>
                        <li><a href="#" class="dep3">복지시설 지원사업</a></li>
                        <li><a href="#" class="dep3">자원봉사 활성화사업</a></li>
                      </ul>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">해외사업</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
          <li class="dep1">
            <a href="#"><span>복지센터</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="복지센터 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">복지센터 안내</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">지역별 복지센터</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
          </li>
          
          <li class="dep1 ">
            <a href="#" class=""><span>자원봉사센터(&터)</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="자원봉사센터(&터) 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">자원봉사센터 사업안내</span>
                        <span class="icon-arr"></span>
                      </a>
                      <ul class="depth3">
                        <li><a href="#" class="dep3">협력동아리</a></li>
                        <li><a href="#" class="dep3">국내봉사</a></li>
                        <li><a href="#" class="dep3">해외봉사</a></li>
                        <li><a href="#" class="dep3">봉사단 운영</a></li>
                      </ul>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">공지사항</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">프로그램 신청</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <!-- 2 -->
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">게시판</span>
                        <span class="icon-arr"></span>
                      </a>
                      <ul class="depth3">
                        <li><a href="#" class="dep3">앨범게시판</a></li>
                        <li><a href="#" class="dep3">영상게시판</a></li>
                        <li><a href="#" class="dep3">통합자료실</a></li>
                      </ul>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">오시는길</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li><!--//dep1-->
          <li class="dep1">
            <a href="#"><span>후원</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="후원 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">후원자 안내</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">일시후원</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">정기후원</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>

                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">후원금 모금내역</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
          <li class="dep1">
            <a href="#"><span>알림센터</span></a>
            <div class="depth2-item-inner">
              <div class="depth2">
                <div class="dep2-inner">
                  <div class="imgs">
                    <div class="img"><img src="../../../resources/images/common/img-depth2-4.png" alt="알림센터 이미지" /></div>
                  </div>
                  <ul class="dep2-ul">
                    <li class="li has-sub">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">공지사항</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">앨범게시판</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">FAQ</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>

                    <li class="li">
                      <a href="#" class="dep2">
                        <span class="dep2-menu">Q&A</span>
                        <span class="icon-arr"></span>
                      </a>
                    </li>
                  </ul><!--//dep2-ul-->
                </div>
                <!--// dep2-inner-->
              </div><!--//depth2-->
            </div><!--//depth2-item-inner-->
              
          </li>
        </ul>
      </nav>

      <!-- 우측 메뉴 -->
      <div class="util-menu">
        <div class="li util-a">
          <a href="#" class="">로그인</a>
          <a href="#">회원가입</a>
        </div>
        <div class="li">
          <a href="javascript:void(0)" class="btn-sitemap sitemap_btn"><!--// 운영 js 클래스 sitemap_btn 그대로 사용 -->
            <img src="../../../resources/images/common/btn-sitemap.png" alt="사이트맵 전체보기" />
          </a>
        </div>
      </div>
    </div>
  </header>
  <!--//header-->

  <div id="container" class="renewal new_container">
    <!-- CONTENT -->
    <div id="content">
      <div class="content_new_inner">
        <h3 class="page_tit">뉴스레터 신청</h3>
      </div>
      <div class="content_inner">
        <!-- LNB -->
        <div id="lnb_wrap" class="renewal new_lnb">
          
        </div><!-- //LNB -->

        <div class="content_wrapper renewal new_content_wrapper">
          <!--
          <div class="breadcrumb_wrap">
              <a href="/" class="btn_home"><img src="https://www.ktngwelfare.org/rs/imgs/renew/icon_home.png" alt="HOME"></a>
              <ul class="bc_list">
                  <li>
                      <p class="nonebg">뉴스레터 신청</p>
                  </li>
              </ul>
          </div>
          -->
          <!-- //breadcrumb_wrap -->
          <div class="page_content">
            <form name="" id="" method="post">
              <fieldset>
                <legend></legend>
                <div class="form-conts">
                  <div class="li">
                    <h4 class="h4">구독 유형</h4>
                    <div class="form-lable first">
                      <div class="form-cell">
                        <input type="radio" id="newsletterYN1_label1" name="newsletterYN1" value="뉴스레터 신청" > 
                        <label for="newsletterYN1_label1"><span></span>뉴스레터 신청</label>
                      </div>
                      <div class="form-cell">
                        <input type="radio" id="newsletterYN1_label2" name="newsletterYN1" value="뉴스레터 취소" > 
                        <label for="newsletterYN1_label2"><span></span>뉴스레터 취소</label>  
                      </div>
                    </div>
                  </div>
                  <div class="li">
                    <h4 class="h4">이름</h4>
                    <div class="form-lable">
                      <input type="text" id="name" placeholder="이름을 입력해주세요" value="">
                    </div> 
                  </div>
                  <div class="li">
                    <h4 class="h4">이메일</h4>
                    <div class="form-lable">
                      <input type="email" id="user-email" placeholder="예) hyundai@hyundai.com">
                    </div> 
                  </div>
                  <div class="li line-x">
                    <div class="info-box">
                      <div class="form-lable">
                        <input type="checkbox" name="infoAgree" id="infoAgree" >
                        <label for="infoAgree"><span></span><em class="line">개인정보 수집·이용</em>에 동의합니다.</label>
                      </div>
                      <div>
                        <a href="" class="a-view">
                          자세히보기
                        </a>
                      </div>
                    </div>
                  </div>
                  <a href="" class="btn-application">신청하기</a>
                </div><!--//form-conts-->
              </fieldset>
            </form><!--//form-->
          </div><!--//page_content-->
        </div><!--//content_wrapper renewal-->
      </div><!--//content_inner-->
    </div><!--//content-->
    <!-- // CONTENT -->
  </div><!--//container-->
  
  
  <!--//main_cont-->
  <footer id="footer" class="footer">
    <div class="footer-top-line">
      <div class="footer-top">
          <div>
              <h2>KT&G복지재단의 다양한 소식을 전합니다.</h2>
              <p>지금 이메일 구독을 통해 따뜻한 재단소식을 받아보세요.</p>
          </div>
          <a href="" class="footer-btns btns-subscribe">뉴스레터 구독하기</a>
      </div>
    </div>
    <div class="footer-inner">
      <div class="footer-bottom">
        <div>
            <div class="footer-links">
                <a href="https://www.ktngwelfare.org/account/privacy">개인정보처리방침</a> <span></span>
                <a href="https://www.ktngwelfare.org/account/service">이용약관</a> <span></span>
                <a href="javascript:emailCollectPop()" title="이메일무단수집거부">이메일무단수집거부</a> <span></span><!--// 운영 함수 그대로 사용 -->
                <a href="https://www.ktngwelfare.org/introduce/location">오시는길</a>
            </div>
            <div class="footer-info">
                사회복지법인 케이티엔지복지재단 (고유번호:120-82-0672) | 대표자 민영진<br>
                (06181) 서울특별시 강남구 대치로 98길 8, 14층 (대치동, KT&G 대치타워)<br>
                대표전화 02-563-4459 | 9시~18시 (12~13시 제외)
            </div>
        </div>

        <div class="footer-right">
          <!--<button class="footer-btns btns-contact">홈페이지 문의접수</button>-->
          <a href="https://www.ktngwelfare.org/notice/nomember" class="footer-btns btns-contact">홈페이지 문의 접수</a>
          <div class="familysite-box familysite-js">
            <a href="javascript:;" class="btn_family">
              Family Site
              <span class="icon"></span>
            </a>
            <ul>
              <li><a href="https://www.ktng.com" target="_blank">KT&amp;G</a></li>
              <li>
                <a href="https://www.kgc.co.kr" target="_blank">KGC인삼공사</a>
              </li>
              <li>
                <a href="https://www.sangsangmadang.com" target="_blank">KT&amp;G상상마당</a>
              </li>
              <li>
                <a href="https://scholarship.ktngtogether.com" target="_blank">KT&amp;G장학재단</a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--//footer-bottom-->
    </div><!--//footer-inner-->
  </footer>
</div><!-- //wrapper -->

<!-- 공통 퀵메뉴-->
<div class="quick-menu">
  <a href="https://www.ktngwelfare.org/notice/news" class="btn_floating btn-notice">
    <span class="icon"><img src="../../../resources/images/common/icon-btn-notice.png" alt="공지사항 아이콘" /></span>
    <span>공지사항</span>
  </a>
  <a href="https://www.ktngwelfare.org/support/online/once/step01" class="btn_floating btn-donate">
    <span class="icon"><img src="../../../resources/images/common/icon-btn-donate.png" alt="후원 아이콘" /></span>
    <span>
      후원
    </span>
  </a>
  <button type="button" class="btn_floating btn-top">
    <span class="icon"><img src="../../../resources/images/common/icon-btn-top-arow.png" alt="TOP 아이콘" /></span>
    <span>TOP</span>
  </button>
</div>

</body>
</html>
