@charset "utf-8";
.fl{float:left;}
.fr{float:right !important} 
.bordertop1{border-top:1px solid #ccc}

#w243{width:243px;overflow:hidden;text-align:center;height:247px;}
#w251{width:251px;overflow:hidden;text-align:center;height:247px;}
#w494{width:494px;overflow:hidden;margin-right:50px;}
#w334{width:334px;overflow:hidden;text-align:center;height:247px;}
#w494 h6, #w334 h6{text-align:left;}
#w334 p{text-align:justify;padding-top: 35px;border-top: 1px solid #ccc;}
.wd100{width: 100% !important;}
.btn-gamesurpport3 {margin-top:15px}
.acc-hidden {position:absolute; clip: rect(1px); /* IE6, 7 */ clip: rect(1px,1px,1px,1px); top:-5000px; left:-5000px; height:0; visibility:hidden;}
.hidden{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;}
strong{font-weight:600;}
/*.bg_black{display:none;z-index:200;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.6;filter:alpha(opacity=60);}*/
.black_opacity{display: none; position: absolute; left: 0; top: 0; z-index: 99; width: 100%; background: #000; opacity: 0.5;filter:alpha(opacity=50);}
/*skipNav*/
 #skipNav{position:relative;width:100%;overflow:hidden;}
 #skipNav a{display:block; height:1px; margin-bottom:-1px; 
      overflow:hidden; text-align:center; text-decoration:none; color:#fff; font-size:12px;}
 #skipNav a:hover,#skipNav a:focus,#skipNav a:active{
     display:block;height:auto;padding:10px 0; background:none repeat scroll 0 0 #666;}
/* 버튼 */
.btn_yellow{display:inline-block;padding:9px 20px;color: #fff;background-color: #ffa401;font-size:13px;border-radius: 5px;}
.btn_gray0{display:inline-block;padding:9px 20px;background-color:#ccc;color:#fff;font-size:13px;border-radius: 5px;} /* 더 연한 회색 버튼 */ 
.btn_gray1{display:inline-block;padding:9px 20px;background-color:#aaa;color:#fff;font-size:13px;border-radius: 5px;} /* 연한 회색 버튼 */
.btn_gray2{display:inline-block;padding:9px 20px;background-color:#666;color:#fff;font-size:13px;border-radius: 5px;} /* 진한 회색 버튼 */
.btn_gray3{display:inline-block;padding:9px 20px;background-color:#999;color:#fff;font-size:13px;border-radius: 5px;} /* 진한 회색 버튼 */
.btn_fb{display:inline-block;width:30px;height:30px;background:url(/rs/images/common/btn_fb.png) 0 0 no-repeat;text-indent:-9999px;} /* 페이스북 버튼 */
.btn_twitter{display:inline-block;width:30px;height:30px;background:url(/rs/images/common/btn_twitter.png) 0 0 no-repeat;text-indent:-9999px;} /* 트위터 버튼 */
.btn_orange1{display:inline-block;padding:12px 30px;font-size:13px;color:#fff;background-color:#f8981d;border-radius: 5px;} /* 컨텐츠에 사용 연한 주황*/
.btn_orange2{display:inline-block;padding:9px 20px;font-size:13px;color:#fff;background-color:#f8981d;border-radius: 5px;}  /* 조금 작음 연한 주황 */
.btn_orange3{display:inline-block;padding:9px 20px;font-size:13px;color:#fff;background-color:#f15c22;border-radius: 5px;}  /* 조금 작음 진한 주황 */
.btn_green3{display:inline-block;padding:9px 20px;font-size:13px;color:#fff;background-color:#5d9914;border-radius: 5px;}  /* 조금 작음 진한 녹색 */
.btn_blue{display:inline-block;padding:9px 20px;font-size:13px;color:#fff;background-color:#009ddc;border-radius: 5px;}  /* 조금 작음 진한 파랑 */
.btn_print{display: inline-block;width: 59px;height: 21px;text-indent: -9999px;background: url('/rs/images/my/btn_print_small.gif') 0 0 no-repeat;}
.btn_print_green{display: inline-block;width: 59px;height: 21px;text-indent: -9999px;background: url('/rs/images/my/btn_print_small_green.gif') 0 0 no-repeat;}
.w295{width:295px; height:40px; line-height:40px; box-sizing:border-box; padding:0; font-size:16px;}


.form_top{margin-bottom:10px;}
.form_top:after{content:'';display:block;clear:both;}
.form_top .lside{float:left;}
.form_top .rside{float:right;}
.form_top .noti_txt{position:relative; padding-left:20px; color:#777; font-size:12px; letter-spacing:-0.3px}
.form_top .noti_txt .ico_noti{position:absolute; top:-2px; left:0; display:inline-block; width:16px; height:16px; background:url('/rs/images/common/ico_noti.png')no-repeat center center;} 

/* .search_form  fieldset  전체select / 검색input / 검색btn / 초기화 /*/
fieldset.search_form{position:relative;height:45px;padding:15px 0 0 40px;background-color:#f7f5ef;}
.search_form input{float:left;width:275px;height:22px;padding:3px 5px; border:1px solid #ccc;font-family:NanumGothic, "나눔고딕", sans-serif;}
.search_form  > label{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0} /* hwang 140808 수정  > */
.search_form .sbHolder { position:relative;float:left;margin:0 5px 0 0; display:inline-block; margin-left:0px; top:0px; left:0px; width:117px; height:28px; background:#FFF; border:1px solid #ccc; font:12px/100% NanumGothic; 
    font-weight:normal; vertical-align:middle;}
.search_form .sbSelector { display:inline-block; position:absolute; padding-top:7px; top:0px; left:0px; width:100%; height:23px; line-height:30px; overflow:hidden; text-indent:20px; outline:none;text-indent:8px; }
.search_form .sbSelector:link, .search_form .sbSelector:visited, .search_form .sbSelector:hover { color:#666; text-decoration:none; line-height:30px; font:12px/100% NanumGothic; outline:none;}
.search_form .sbToggle { display:block; position:absolute; top:0px; right:0px; width:28px; height:28px; background:url('/rs/images/common/btn_calendar_select.gif') 0 0 no-repeat; outline:none; }
.search_form .sbToggleOpen{background-image: url('/rs/images/common/btn_calendar_select_on.gif');}
.search_form .sbOptions { position:absolute; top:28px !important; left:-1px; width:100%; margin:0; padding:0; border:1px solid #cbcbcb; background:#FFF; overflow-y:auto; list-style:none; z-index:1; }
.search_form .sbOptions li { padding:0 5px; }
.search_form .sbOptions li:hover{background-color:#f0f0f0;}
.search_form .sbOptions a { display:block; padding:5px 0 5px 3px; outline:none; }
.search_form .sbOptions a:link, .sbOptions a:visited { color:#666; text-decoration:none; }
.search_form .sbOptions li.last a { border-bottom:none; margin-bottom:5px;}
.search_form select{float:left;position:relative;width:117px;height:30px;margin:0 5px 0 0;padding-left:10px;border:1px solid #ccc;font-family:NanumGothic, "나눔고딕", sans-serif;}
.search_form .btn{width:70px;height:21px;padding-top:9px;text-align:center;color:#fff;border:0;font:12px/100% NanumGothic, "나눔고딕", sans-serif;}
.search_form .btn_search{float:left;margin-left:5px;background-color:#666666;} /* 검색 */
.search_form .btn_init{float:left;margin-left:3px;background-color:#999;} /* 초기화 */
.search_form.gray .sbToggle {background:url('/rs/images/common/btn_select_gray.gif') 0 0 no-repeat;} /* 연한 회색 */
.search_form.gray .sbToggleOpen{background-image: url('/rs/images/common/btn_select_gray_on.gif');}

.btn{min-width:70px;height:21px;padding-top:9px;text-align:center;color:#fff;border:0;font:12px/100% NanumGothic, "나눔고딕", sans-serif;}
.btn.btn_search{float:left;margin-left:5px;background-color:#666;} /* 검색 */
.btn .gray{}


.select_area{}
.select_area select{width:100%; height:25px; border:1px solid #ccc;}
.select_area.right{position:absolute; top:15px; right:0;}
.select_area span{display:inline-block; line-height:25px; vertical-align:middle; font-size:13px; color:#666;}
.select_area .txt_left{margin-right:5px; padding:0 10px; background:#e6e6e6; font-weight:600;}

/*  .page_navi  기본 주황색 page navigation */
.page_navi{margin-top:30px;text-align:center;font:12px/100% NanumGothicBold,  sans-serif;}
.page_navi a{display:inline-block;width:23px;height:23px;line-height:23px;text-align:center;vertical-align: top;border:1px solid #ddd;color:#999;background-color:#fff}
.page_navi a.on{background-color:#ffa401;color:#fff;border:1px solid #ffa401}
.page_navi .btn_first{border:0;padding-right:2px;}
.page_navi .btn_prev{border:0;padding-right:7px;}
.page_navi .btn_next{border:0;padding-left:7px;}
.page_navi .btn_end{border:0;padding-left:2px;}
.page_navi.green a.on{background-color:#ffa401;color:#fff;border:1px solid #ffa401;} /* .page_navi.green  연두색 page navigation */

/* 버튼 영역 */
.btn_area{margin:20px 0 0 0;} /* 신청 폼 하단 버튼 영역 */
.btn_area:after{content:'';display:block;clear:both;}
.btn_area > p{float:left;} /* 왼쪽 버튼 영역 */
.btn_area > span{float:right;} /* 오른쪽 버튼 영역 */
.btn_area button{border:0;}
/* 20141202 추가 */
.h_fix {position:relative;height:30px}
.h_fix span.mt30{position:absolute;bottom:0;right:0}/* 오른쪽 버튼 영역 높이조정*/
.btn_area > .mgr{margin-right: 5px;} /* */

/* 게시판 위 결과 및 페이지 설명  .list_desc  주황*/
.list_desc{position:relative;padding:15px 0 8px;font:12px/100% NanumGothic, "나눔고딕", sans-serif;color:#666;}
.list_desc p{float:left;color:#999;} /* 결과 */
.list_desc p em, .list_desc span em{display:inline;color:#f15c22;text-decoration:underline;font-size:12px;font-weight:normal;}
.list_desc p em:first-child{text-decoration:none;}
.list_desc span{float:right;color:#999;} /* 페이지 */
.list_desc:after{content:'';display:block;clear:both;}
.list_desc.green p em, .list_desc.green span em{color:#6eae1b;} /*  .list_desc  초록*/

/* .page_content 안의 주황색 nav */
ul.nav_content{}
ul.nav_content{margin-bottom:20px;border-bottom:1px solid #aaa;}
ul.nav_content li{float:left;}
ul.nav_content li a{display:block;padding:13px 30px;font-family:NanumGothicBold;color:#666;font-size:13px;border-top:1px solid #aaa;border-right:1px solid #aaa;}
ul.nav_content li:first-child a{border-left:1px solid #aaa;}
ul.nav_content li.on a{margin-left: -1px;padding:13px 31px 13px 30px;color:#fff;background-color:#ffa401;border-top:1px solid #ffa401;}
ul.nav_content li:first-child.on a{padding:13px 30px;border-left:1px solid #ffa401;;margin-left:0;}
ul.nav_content:after{content:'';display:block;clear:both;}

/* mycenter 설정 */
.btn_mycenter{position:absolute;top:48px;right:0;height:21px;padding-right:35px;text-decoration:underline;font-size:13px;line-height:20px;color:#666;background:url('/rs/images/center/ico_mycenter.gif') 100% 0 no-repeat;}
.pop_mycenter{z-index:100;display:none;position:absolute;top:39px;right:0;width:394px;height:191px;background-color:#fff;border:3px solid #f8981d;}
.pop_mycenter .btn_close_mycenter{position:absolute;top:18px;right:18px;}
.pop_mycenter dl{padding:30px 0 0 30px;}
.pop_mycenter dl dt{margin-bottom:14px;font-size:15px;font-family:NanumGothicBold, NanumGothic, sans-serif;}
.pop_mycenter dl dd{margin-bottom:10px;font-size:12px;line-height:140%;color:#888;}
.pop_mycenter dl dd strong{font-family:NanumGothicBold, NanumGothic, sans-serif;color:#666;}
.pop_mycenter .btn_set_mycenter{position:absolute;bottom:33px;right:33px;font-size:12px;color:#f15c22;text-decoration:underline;}

/* 
    앨범 게시판 리스트 ====================
*/
/* 앨범게시판 리스트1 주황*/
.album_list_1{margin-left:-20px;font:12px/100% NanumGothic, "나눔고딕", sans-serif;color:#666;} /* w 880 */
.album_list_1 li{float:left;width:205px;margin-left:20px;padding-bottom:20px;}
.album_list_1 li p{padding-top:13px;}
.album_list_1 li p > a{overflow:hidden;display:inline-block;width:100%;font-size:13px;color:#666;text-overflow:ellipsis;white-space:nowrap;}
.album_list_1 li p > a > span{display:block;padding-top:5px;color:#666;font-size:12px;}
.album_list_1 li > a{display:block;}
.album_list_1:after{content:'';display:block;clear:both;}
.album_list_1.green li > p > a > em{font-family:NanumGothicBold, NanumGothic, sans-serif;color:#438e00;} /* 앨범 게시판 리스트1 초록 */
.tip{margin-right:5px; font-family:NanumGothicBold, NanumGothic, sans-serif; padding:4px 7px; border-radius:4px; box-sizing:border-box; font-size:13px;}
.tip.color01{ border:1px solid #f15c22; color:#f15c22;}

/* 앨범게시판 리스트1 추천 ============================== */
.album_list_1.green.recommend li > p{position:relative;}
.album_list_1.green.recommend li > p > a{width:100%;}
.bold{font-weight: bold;}
.album_list_1.green.recommend .btn_recommend{position:absolute;top:13px;right:0;width: 64px;height: 21px;background-color:#999;text-align:center;} /* 추천 버튼 */
.album_list_1.green.recommend .btn_recommend:hover{background-color:#419001;}
.album_list_1.green.recommend .btn_recommend > span{display: inline-block;padding: 0 0 0 15px;color: #fff;background: url(/rs/images/common/ico_heart.png) 0 5px no-repeat;font: 11px/21px Dotum, "돋움", sans-serif;}

/* 앨범게시판 리스트2 */
.album_list_2{margin-left:-35px;font:12px/100% NanumGothic, "나눔고딕", sans-serif;color:#666;} /* w 880 */
.album_list_2 li{float:left;width:270px;margin-left:35px;padding-bottom:25px;}
.album_list_2 li p{padding-top:20px;}
.album_list_2 li p > a{overflow:hidden;display:inline-block;width:100%;color:#666;font-size:12px;line-height:150%;font-family:'NanumGothic', sans-serif;}
.album_list_2 li p > a > strong{display:block;padding-bottom:10px;font-size:15px;color:#222;line-height:100%;font-family:'NanumGothicBold', sans-serif;text-overflow:ellipsis;white-space:nowrap;}
.album_list_2 li p > a > strong > em{color:#f47010;}
.album_list_2:after{content:'';display:block;clear:both;}


/* 
    일반 게시판 리스트 ================================================
*/
/* 앨범게시판 리스트1  tbl_list1 주황*/
.tbl_list_1{width:900px;table-layout:fixed;font-size:13px;line-height:100%;color:#333;border-bottom:2px solid #aaa;}
.tbl_list_1 thead{background-color:#666;}
.tbl_list_1 thead th{height:24px;padding: 8px 5px 8px 5px;vertical-align:middle;color:#fff;font-family:NanumGothicBold, NanumGothic, sans-serif;background:url(/rs/images/common/ico_tbl_border.gif) 100% 50% no-repeat;}
.tbl_list_1 thead th:last-child{background:none;}
.tbl_list_1 tbody td{height:24px;padding: 8px 5px 8px 5px;text-align:center;border-top:1px solid #ccc;vertical-align:middle;line-height: 1.3em;}
	.tbl_list_1 tbody td a, .tbl_list_1 tbody td a:hover, .tbl_list_1 tbody td a:visited {color:#333}
.tbl_list_1 tbody tr:first-child td{border-top:0;}
.tbl_list_1 tbody td.title{text-align:left;padding-left:10px;}
.tbl_list_1 tbody td.title > a{display:block;color:#333;} 
.tbl_list_1 tbody td.title > a > em{display:block;font-size:11px;line-height:26px;color:#f15c22;} /* 따뜻한 동화 감상평 */
.tbl_list_1 tbody tr.notice{background-color:#f7f5ef;}
.tbl_list_1 tbody tr.first_line{/* background-color:#f7f5ef; */}
.tbl_list_1 tbody tr.notice td.title > a{font-family:NanumGothicBold, NanumGothic, sans-serif;color:#222;}
.tbl_list_1 tbody tr.complete td.title{color:#f15c22;}
.tbl_list_1 tbody tr.complete td.title a{color:#f15c22;}
.tbl_list_1 tbody tr:hover td{background: #f7f5ef;}
tbody td .btn_cancel{display:inline-block;width:40px;height:19px;margin-left:5px;background-color:#aaa;color:#fff;font-family:NanumGothicBold, NanumGothic, sans-serif;font-size:11px;line-height:19px;} 
tbody td .btn_cancel:visited {color:#FFF !important}
tbody td .btn_apply{display:inline-block;width:55px;hfeight:21px;background:url(/rs/images/common/btn_apply_1.gif) 0 0 no-repeat;text-indent:-9999px;}                                                            /* 신청 */
tbody td .btn_apply_result{display:inline-block;width:73px;height:21px;margin-left:5px;background:url(/rs/images/common/btn_apply_1_list.gif) 0 0 no-repeat;text-indent:-9999px;}                  /* 신청 현황 */
tbody td .ico_recruit{margin-left:5px;display:inline-block;width:43px;height:16px;background:url(/rs/images/common/ico_recruit.png) 0 0 no-repeat;text-indent:-9999px;}                                     /* 모집중 */
tbody td .ico_progress{margin-left:5px;display:inline-block;width:43px;height:16px;background:url(/rs/images/common/ico_progress.png) 0 0 no-repeat;text-indent:-9999px;}                             /* 진행중 */
tbody td .ico_notice{display:inline-block;width:35px;height:20px;background:url(/rs/images/common/ico_notice.png) 0 0 no-repeat;text-indent:-9999px;}                                                               /* 공지 */
tbody td .ico_new{margin-left:5px;display:inline-block;width:14px;height:14px;background:url(/rs/images/common/ico_new.png) 0 0 no-repeat;text-indent:-9999px;}                                            /* N */
tbody td .ico_attach_file{margin-left:5px;display:inline-block;width:18px;height:18px;background:url(/rs/images/common/ico_attachfile.png) 0 0 no-repeat;text-indent:-9999px;}                         /* 다운로드 파일 클립 */
tbody td .ico_title_1{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_1.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 모집 */
tbody td .ico_title_2{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_2.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 안내 */
tbody td .ico_title_3{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_3.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 발표 */
tbody td .ico_title_4{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_4.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 접수 */
tbody td .ico_return{margin-left:5px;display:inline-block;width:60px;height:22px;vertical-align:middle;background:url(/rs/images/common/ico_return.png) 0 0 no-repeat;text-indent:-9999px;} /* 반려내역 */
tbody td .btn_recommend{display:inline-block;width:64px;height:21px;background-color:#f15c22;text-align:center;}                                                                                                                      /* 추천 */
tbody td .btn_recommend >span{display:inline-block;padding:0 0 0 15px;color:#fff;background:url(/rs/images/common/ico_heart.png) 0 5px no-repeat;font:11px/21px Dotum, "돋움", sans-serif;}
tbody td .btn_confirm{display:inline-block;width:55px;height:21px;line-height:21px;font-size:11px;background:#f15c22;color:#FFF !important}  
.tbl_list_1 .col1{width:82px;}
.tbl_list_1 .col2{width:428px;}
.tbl_list_1 .col3{width:176px;}
.tbl_list_1 .col4{width:97px;}

.enter_product .tbl_list_1 .col2{width:370px;}

/* 앨범게시판 리스트1  tbl_list1 그린*/
tbody.green td .btn_apply{display:inline-block;width:55px;height:21px;background:url(/rs/images/common/btn_apply_1.gif) 0 0 no-repeat;text-indent:-9999px;}                                                            /* 신청 */
tbody.green td .btn_apply_result{display:inline-block;width:73px;height:21px;margin-left:5px;background:url(/rs/images/common/btn_apply_1_list.gif) 0 0 no-repeat;text-indent:-9999px;}                  /* 신청 현황 */
tbody.green td .ico_recruit{margin-left:5px;display:inline-block;width:43px;height:16px;background:url(/rs/images/common/ico_recruit.png) 0 0 no-repeat;text-indent:-9999px;}                                     /* 모집중 */
tbody.green td .ico_progress{margin-left:5px;display:inline-block;width:43px;height:16px;background:url(/rs/images/common/ico_progress.png) 0 0 no-repeat;text-indent:-9999px;}                             /* 진행중 */
tbody.green td .ico_notice{display:inline-block;width:35px;height:20px;background:url(/rs/images/common/ico_notice.png) 0 0 no-repeat;text-indent:-9999px;}                                                               /* 공지 */
tbody.green td .ico_new{background-image:url('/rs/images/common/ico_new_green.png') !important;}                                            /* N */
tbody.green td .ico_attach_file{margin-left:5px;display:inline-block;width:18px;height:18px;background:url(/rs/images/common/ico_attachfile.png) 0 0 no-repeat;text-indent:-9999px;}                         /* 다운로드 파일 클립 */
tbody.green td .ico_title_1{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_1.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 모집 */
tbody.green td .ico_title_2{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_2.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 안내 */
tbody.green td .ico_title_3{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_3.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* 발표 */
tbody.green td .ico_title_4{display:inline-block;width:35px;height:20px;margin-right:8px;background:url(/rs/images/common/ico_title_4.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:middle;} /* *접수 */
tbody.green td .btn_recommend{display:inline-block;width:64px;height:21px;background-color:#f15c22;text-align:center;}                                                                                                                      /* 추천 */
tbody.green td .btn_recommend >span{display:inline-block;padding:0 0 0 15px;color:#fff;background:url(/rs/images/common/ico_heart.png) 0 5px no-repeat;font:11px/21px Dotum, "돋움", sans-serif;}


/*
    게시판 view 페이지  ==========================================================
*/
/*.view_1 */
.view_1{width:880px;font:12px/100% NanumGothic, "나눔고딕", sans-serif;color:#333;}
.view_1 .contents_area{border-bottom:1px solid #ccc;}
.view_1 .contents_area .contents{padding:30px 20px;line-height:150%;} /* 내용 영역 */
.view_1 .contents_area .contents img{max-width: 100%;}
.view_1 .contents_area .attach_file{position:relative;padding:12px 0 12px 0;border-top:1px solid #ccc;} /* 첨부 파일 */
.view_1 .contents_area .attach_file dt{position:absolute;top:17px;left:20px;font-size:13px;line-height:100%;color:#222;}
.view_1 .contents_area .attach_file dd{margin-left:83px;padding:4px 0 4px 20px;border-left:1px solid #ccc;}
.view_1 .contents_area .attach_file dd a{background:url(/rs/images/common/ico_file_txt.png) 0 0 no-repeat;display:inline-block;height:16px;padding-left:20px;font-size:11px;line-height:16px;color:#888;}
.view_1 .contents_area .attach_file dd a.ppt{background:url(/rs/images/common/ico_file_ppt.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.pptx{background:url(/rs/images/common/ico_file_ppt.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.jpg{background:url(/rs/images/common/ico_file_jpg.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.xls{background:url(/rs/images/common/ico_file_xls.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.xlsx{background:url(/rs/images/common/ico_file_xls.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.doc{background:url(/rs/images/common/ico_file_doc.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.docx{background:url(/rs/images/common/ico_file_doc.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.pdf{background:url(/rs/images/common/ico_file_pdf.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.txt{background:url(/rs/images/common/ico_file_txt.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.psd{background:url(/rs/images/common/ico_file_psd.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.ai{background:url(/rs/images/common/ico_file_ai.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.gif{background:url(/rs/images/common/ico_file_gif.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.zip{background:url(/rs/images/common/ico_file_zip.png) 0 0 no-repeat;}
.view_1 .contents_area .attach_file dd a.hwp{background:url(/rs/images/common/ico_file_hwp.png) 0 0 no-repeat;}


.view_1 .btn_area{margin:10px 0 30px 0;} /* 목록 버튼 등 지역 */
.view_1 .btn_area:after{content:'';display:block;clear:both;}
.view_1 .btn_area > div{float:left;} /* 왼쪽 버튼 영역 */
.view_1 .btn_area > span{float:right;} /* 오른쪽 버튼 영역 */
.view_1 .btn_area .btn_fb{float:left;text-indent:-9999px;} /* 페이스북 버튼 */
.view_1 .btn_area .btn_fb > span{}
.view_1 .btn_area .btn_twitter{float:left;text-indent:-9999px;} /* 트위터 버튼 */
.view_1 .view_navi{border-top:1px solid #ccc;} /* 이전글 / 다음글  */
.view_1 .view_navi li{position:relative;padding:13px 0 14px 0;border-bottom:1px solid #ccc;}
.view_1 .view_navi li dl dt{display:inline-block;padding:0 20px 0 20px;margin-right:19px;border-right:1px solid #ccc;font-size:13px;color:#222;}
.view_1 .view_navi li dl dd{display:inline-block;line-height: 13px;width: 700px;height: 13px;overflow-y: hidden;text-overflow: ellipsis;}
.view_1 .view_navi li a{display:block;font-size:13px;color:#333;}
/* 20141203 변경 */
.view_1 .view_navi li .btn_prev_page{position:absolute;top:5px;right:0;width:29px;height:29px;background:url(/rs/images/common/btn_prev_page.gif) 0 0 no-repeat;text-indent:-9999px;}
.view_1 .view_navi li dd:hover .btn_prev_page{background-position:0 -29px;}
.view_1 .view_navi li .btn_next_page{position:absolute;top:5px;right:0;width:29px;height:29px;background:url(/rs/images/common/btn_next_page.gif) 0 0 no-repeat;text-indent:-9999px;}
.view_1 .view_navi li dd:hover .btn_next_page{background-position:0 -29px;}
/*.view_1 .view_navi li .btn_prev_page:hover{background-position:0 -29px;}*/
/*.view_1 .view_navi li .btn_next_page:hover{background-position:0 -29px;}*/

/*  테이블은 .tbl_view_1  view_1 안에 들어감*/
.tbl_view_1{width:880px;table-layout:fixed;font-size:13px;line-height:100%;color:#333;border-bottom:1px solid #aaa;}
.tbl_view_1 thead{background-color:#333;}
.tbl_view_1 thead th{height:24px;padding: 8px 5px 8px 5px;vertical-align:middle;color:#fff;font-family:NanumGothicBold, NanumGothic, sans-serif;background:url(/rs/images/common/ico_tbl_border.gif) 100% 50% no-repeat;}
.tbl_view_1 thead th:last-child{background:transparent;}
.tbl_view_1 tbody td{height:24px;padding: 8px 5px 8px 5px;text-align:center;border-top:1px solid #ccc;vertical-align:middle;}
.tbl_view_1 tbody tr{background-color:#f7f5ef;}
.tbl_view_1 tbody tr:first-child td{border-top:0;}
.tbl_view_1 tbody td.title{text-align:left;padding-left:10px;font-family:NanumGothicBold, NanumGothic, sans-serif;color:#222;}
.tbl_view_1 .col1{width:82px;}
.tbl_view_1 .col2{width:428px;}
.tbl_view_1 .col3{width:176px;}
.tbl_view_1 .col4{width:97px;}


/*  테이블은 .tbl_view_2  view_1 안에 들어감*/
.tbl_view_2{width:880px;table-layout:fixed;font-size:13px;line-height:100%;color:#666;}
.tbl_view_2 tbody{border-top:2px solid #aaa;}
.tbl_view_2 tbody th{font-family:NanumGothicBold, NanumGothic, sans-serif;background-color:#f7f5ef;height:23px;padding: 8px 5px 8px 5px;vertical-align:middle;border-bottom:1px solid #ccc;}
.tbl_view_2 tbody td{height:23px;padding: 8px 5px 8px 20px;vertical-align:middle;border-bottom:1px solid #ccc;}
.tbl_view_2 tbody td.title{font-family:NanumGothicBold, NanumGothic, sans-serif;color:#222;}


/*
    일반 게시판 작성   ==========================================================
*/
/* 2열  tbl_write1 */
.tbl_write_1{width:880px;table-layout:fixed;font-size:13px;line-height:100%;color:#666;}
.tbl_write_1 tbody{border-top:2px solid #aaa;border-bottom:2px solid #aaa;}
.tbl_write_1 tbody th{font-family:NanumGothicBold, NanumGothic, sans-serif;background-color:#f7f5ef;height:23px;padding: 8px 5px 8px 5px;vertical-align:middle;border-top:1px solid #ccc;}
.tbl_write_1 tbody th.linev {border-left:1px solid #ccc;}
.tbl_write_1 tbody th.eps label{position:relative;}
.tbl_write_1 tbody th.eps label::before{content: '*'; position: absolute; left:-10px;}
.tbl_write_1 tbody th .bold_R{display:block;font-family:NanumGothic, sans-serif; line-height:18px;}
.tbl_write_1 tbody td{height:23px;padding: 8px 5px 8px 15px;vertical-align:middle;border-top:1px solid #ccc;}
.tbl_write_1 tbody tr:first-child th, .tbl_write_1 tbody tr:first-child td{border-top:0;}
.tbl_write_1 tbody td input[type=text], .tbl_write_1 tbody td select{border:1px solid #ccc;font-size:13px;line-height:100%;}
.tbl_write_1 tbody td input{height:17px;padding:3px 5px;vertical-align:top;}
.tbl_write_1 tbody td select{width: 90px; height:25px;padding:0 0 0 5px;vertical-align:top;}
.tbl_write_1 tbody td select option{line-height: 25px !important;}
.tbl_write_1 tbody td .btn_gray0, .tbl_write_1 tbody td .btn_gray1, .tbl_write_1 tbody td .btn_gray2{padding:6px 20px;vertical-align:top;}
.tbl_write_1 .col1_w{width:150px;}
.tbl_write_1 .col_1{width:150px;}
.tbl_write_1 .col_2{width:220px;}
.tbl_write_1 .combine td{border-top:0;padding: 0 5px 6px 20px;} /* td 합칠 때 padding과 border-top 없애기 */
.tbl_write_1 .combine.first td{border-top:1px solid #ccc;padding:6px 5px 6px 20px;}
.tbl_write_1 .file_input_wrap{position:relative;overflow:hidden;display:inline-block;margin-left:5px;line-height: 23px;width:89px;height:25px;cursor:pointer;} /* 파일 찾기 */
.tbl_write_1 .file_input_wrap .btn_file_input{line-height:100%;}
.tbl_write_1 .file_input_wrap .file_input_hidden{position:absolute;top:0;left:0;width:88px;height:25px;padding:0;border:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
.tbl_write_1 .filename{display:inline-block; width:auto; font-size:13px; color:#666;}
.tbl_write_1 .filename + .filename{margin-left:10px;}
.tbl_write_1 span{margin:0 3px;line-height: 23px;}  /* - 여백  */
.tbl_write_1 span.left{margin:0 7px 0 2px;}
.tbl_write_1 span.right{margin:0 2px 0 10px;}
.tbl_write_1 span.center{margin:0 5px;}
/* 20141208 추가 */
.tbl_write_1 .selTxt {display: inline-block;margin:0 8px 0 5px !important;color: #666;line-height: 23px !important;}
.tbl_write_1 .data_count {float:right;padding:3px 25px 0px 0px}
#cke_contents span{line-height:26px !important;}

.tbl_write_1.tbl_border tbody tr th,
.tbl_write_1.tbl_border tbody tr td{border-right:1px solid #ccc;}
.tbl_write_1.tbl_border tbody tr th:last-child,
.tbl_write_1.tbl_border tbody tr td:last-child{border-right:none;}
.tbl_write_1.tbl_border tbody tr td{padding:4px;}
.tbl_write_1.tbl_border .br{border-right:1px solid #ccc!important;}
.tbl_write_1.tbl_border .br_no{border-right:none!important;}
.tbl_write_1.tbl_border input{box-sizing:border-box; height:25px;}
.tbl_write_1.tbl_border input:read-only{ background: #000; opacity:.3; border-color:#8e8e8e;}
.tbl_write_1.tbl_border textarea{width:100%; height:315px; box-sizing:border-box;}
.tbl_write_1.tbl_border textarea.off{ background: #000; opacity:.3; border-color:#8e8e8e;}
.tbl_write_1.tbl_border tbody tr td.phone .select_wrap{width:30%;}
.tbl_write_1.tbl_border tbody tr td.phone .select_wrap select{width:100%;}
.tbl_write_1.tbl_border tbody tr td.phone input.phone2,
.tbl_write_1.tbl_border tbody tr td.phone input.phone3{width:30%;}
.tbl_write_1.tbl_border tbody tr td.phone > span{width:11px;}


/* 4열  tbl_write2 */
.tbl_write_2{width:880px;table-layout:fixed;font-size:13px;line-height:100%;color:#666;}
.tbl_write_2 tbody{border-top:2px solid #aaa;border-bottom: 2px solid #aaa;}
/* 
.tbl_write_2 tbody th{font-family:NanumGothicBold, NanumGothic, sans-serif;background-color:#f7f5ef;height:23px;padding: 8px 5px 8px 5px;vertical-align:middle;border-bottom:1px solid #ccc;line-height:130%;}
.tbl_write_2 tbody td{min-height:23px;padding: 8px 5px 8px 20px;vertical-align:middle;border-bottom:1px solid #ccc;}
*/
.tbl_write_2 tbody th{font-family:NanumGothicBold, NanumGothic, sans-serif;background-color:#f7f5ef;height:23px;padding: 8px 5px 8px 5px;vertical-align:middle;border-bottom:1px solid #ccc;line-height:130%;}
.tbl_write_2 tbody td{min-height:23px;padding: 8px 5px 8px 20px;vertical-align:middle;border-bottom:1px solid #ccc; background:#fff;}
/*우편번호 수정*/
.tbl_write_2 tbody td div dl dt{padding-top:10px;font-weight:bold;line-height:24px;}
.tbl_write_2 tbody td div dl dd{line-height:21px;}
.tbl_write_2 tbody td.title{font-family:NanumGothicBold, NanumGothic, sans-serif;color:#222;}
.tbl_write_2 tbody td input, .tbl_write_2 tbody td select, .tbl_write_3 tbody td select{border:1px solid #ccc;font-size:13px;line-height:100%;}
.tbl_write_2 tbody td input{height:17px;padding:3px 5px;vertical-align:top;}
/* 20141202 수정 */
.tbl_write_2 tbody td select, .tbl_write_3 tbody td select{width: 73px; height:23px;padding:0 0 0 5px;vertical-align:top;}
.tbl_write_3 tbody td select.w50{width: 50px;}
.tbl_write_2 tbody td .btn_gray0, .tbl_write_2 tbody td .btn_gray1, .tbl_write_2 tbody td .btn_gray2, .tbl_write_2 tbody td .btn_gray3{padding:6px 15px;vertical-align:top;}
.tbl_write_2 .col_1{width:150px;}
.tbl_write_2 .col_2{width:290px;}
.tbl_write_2 .col_3{width:150px;}
.tbl_write_2 span{margin:0 3px;line-height: 23px;}  /* - 여백  */
.tbl_write_2 span.left{margin:0 7px 0 2px;}
.tbl_write_2 span.right{margin:0 2px 0 10px;}
.tbl_write_2 span.center{margin:0 5px;}
.tbl_write_2 tbody td small {display:block;padding-top:5px;line-height:130%;font-size:12px;}

.tbl_write_2 tbody td small a{font-size: 14px !important;}
.content_wrapper.renewal .enter_form .tbl_file .fileWrap{margin:0;}
.content_wrapper.renewal .enter_form .tbl_write_2.tbl_personal_info3 .fileWrap{margin:0;}


tbody td input.ipt{width:153px;}
tbody td input.ipt_small{width:43px;}
tbody td input.ipt_small1{width:63px;}
tbody td input.ipt_phone{width:63px;}
tbody td input.ipt_zipcode{width:63px;}
tbody td input.ipt_email{width:153px;}
tbody td input.ipt_full{width:668px;}
tbody td input.ipt_half{width:237px;}
tbody td input.ipt_half02{width:450px;}
tbody td input.ipt_half03{width:200px;}
tbody td input.ipt_basic{width:153px;}
tbody td input.ipt_email_half{width:62px;}
tbody td input.ipt_address_basic{margin-top:5px;}
tbody td input.ipt_address_road{margin-top:5px;}
tbody td .sel{width:261px;}
tbody td input.ipt_w100{width:100%;}
/*20141124 꿈나무희망날개 접수기관 수정*/
tbody td .sel1{width:122px !important;}
tbody td .sel_phone{width:73px;}
tbody td .sel_gender{width:88px;}
tbody td .sel_birth{width:73px;}
tbody td .sel_email{width:238px;}
tbody td .sel_email_half{width:146px;}
tbody td .sel_wrap{position:relative;width:261px;}
tbody td .sel_half_wrap{position:relative;width:247px;}
tbody td .sel_quarter_wrap{display:inline-block;position:relative;width:146px;}
tbody td .sel_quarter_wrap select{width:146px;}
tbody td .sel_phone_wrap{display:inline-block;position:relative;width:73px;vertical-align:middle;}
tbody td .sel_phone_wrap select{width:73px;}
tbody td .sel_gender_wrap{position:relative;width:88px;}
tbody td .sel_gender_wrap select{width:88px;}
tbody td .sel_birth_wrap select{display:inline-block;position:relative;width:73px; height: 25px;}
tbody td .sel_email_wrap{display:inline-block;position:relative;width:238px;}
tbody td .sel_email_wrap select{width:238px;}
tbody td .sel_email_wrap_half{display:inline-block;position:relative;width:146px;}
tbody td .sel_email_wrap_half select{width:146px;}
tbody td .btn_zipcode_search{margin-left:5px;}

/* custom checkbox  여러개일 때*/
tbody td ul.check_wrap{} 
tbody td ul.check_wrap li{position:relative;float:left;min-height:13px;margin-left:15px;padding-left:18px;background:url('/rs/images/common/ico_checkbox.gif') 0 0 no-repeat;}
tbody td ul.check_wrap li:first-child{margin-left:0;}
tbody td ul.check_wrap li.on{background-position:0 -23px;}
tbody td ul.check_wrap li input[type=checkbox]{position:absolute;top:0;left:0;opacity:0;filter:alpha(opacity=0);width:13px;height:13px;cursor:pointer;}
tbody td ul.check_wrap li label{cursor:pointer;}
tbody td ul.check_wrap li.etc{clear:both;margin-left:0;margin-top:12px;} /* 아래로 배치 */
tbody td ul.check_wrap li .ipt{margin-top:-4px;margin-left:5px;width:621px;}
tbody td ul.check_wrap:after{content:'';display:block;clear:both;}

/* custom checkbox 하나 일 때 */
tbody td p.check_wrap_one{position:relative;min-height:13px;/*margin-top:7px;*/padding-left:18px;}
tbody td p.check_wrap_one.on{background-position:0 -23px;}

tbody td p.check_wrap_one input[type=checkbox]{position:absolute;top:-3px \0/IE8;top:0px;left:0;width:13px;height:13px;cursor:pointer;border:none}
	html>body td p.check_wrap_one input[type=checkbox] {top: 5px}
	@media \9screen { tbody td p.check_wrap_one input[type=checkbox]{position:absolute;top:-3px;left:0;width:13px;height:13px;cursor:pointer;border:none;}}
tbody td p.check_wrap_one label{cursor:pointer;padding-left:0px;}
tbody td ul.ipt_addr_wrap{}
tbody td ul.ipt_addr_wrap li{position:relative;margin-top:5px;}
tbody td ul.ipt_addr_wrap li.road label{position:absolute;top:5px;left:5px;}
tbody td ul.ipt_addr_wrap li.road input{width:581px;padding:3px 5px 3px 92px;} /* hwang */


tbody td .sbHolder { position:relative; display:inline-block; margin-left:0px; top:0px; left:0px; width:100%; height:23px; background:#FFF; border:1px solid #ccc; font:12px/100% NanumGothic; 
    font-weight:normal; vertical-align:middle;}
tbody td .sbSelector { display:inline-block; position:absolute; padding-top:5px; top:0px; left:0px; width:100%; height:23px; line-height:30px; overflow:hidden; text-indent:20px; outline:none;text-indent:4px; }
tbody td .sbSelector:link, tbody td .sbSelector:visited, tbody td .sbSelector:hover { color:#666; text-decoration:none; line-height:30px; font:12px/100% NanumGothic; outline:none;}
tbody td .sbToggle { display:block; position:absolute; top:0px; right:0px; width:24px; height:23px; background:url('/rs/images/common/select_w.gif') 0 0 no-repeat; outline:none; }
tbody td .sbToggleOpen { background:url('/rs/images/common/select_w.gif') 0 -23px no-repeat; }
tbody td .sbOptions { position:absolute; top:30px; left:-1px; width:100%; margin:0; padding:0; border:1px solid #ccc; background:#FFF; overflow-y:auto; list-style:none; z-index:1;max-height: 130.5px !important; }tbody td .sbOptions li { padding:0 5px; }
tbody td .sbOptions li:hover{background-color:#f0f0f0;}
tbody td .sbOptions a { display:block; padding:5px 0 5px 3px; outline:none; }
tbody td .sbOptions a:link, .sbOptions a:visited { color:#666; text-decoration:none; }
/*tbody td .sbOptions a:hover { color:#f15c22; }*/
tbody td .sbOptions li.last a { border-bottom:none; margin-bottom:5px;}


/* custom checkbox  여러개일 때*/
tbody td ul.check_wrap2{} 
tbody td ul.check_wrap2 li{position:relative;float:left;min-height:13px;margin-left:15px;padding-left:18px;}

tbody td ul.check_wrap2 li input[type=checkbox]{position:absolute;top:-3px \0/IE8;top:0px;left:0;width:13px;height:13px;cursor:pointer;border:none}
	html>body tbody td ul.check_wrap2 li input[type=checkbox]{top:-3px}
	@media \9screen { tbody td ul.check_wrap2 li input[type=checkbox]{position:absolute;top:-3px;left:0;width:13px;height:13px;cursor:pointer;border:none}}
tbody td ul.check_wrap2 li:first-child{margin-left:0;}
tbody td ul.check_wrap2 li.on{background-position:0 -23px;}
tbody td ul.check_wrap2 li label{cursor:pointer;}
tbody td ul.check_wrap2 li.etc{clear:both;margin-left:0;margin-top:12px;} /* 아래로 배치 */
tbody td ul.check_wrap2 li .ipt{margin-top:-4px;margin-left:5px;width:621px;}
tbody td ul.check_wrap2:after{content:'';display:block;clear:both;}

/*
    콘텐츠에 들어가는 게시판   ==========================================================
*/
/* .tbl_contents_1 */
.tbl_contents_1{width:880px;table-layout:fixed;font-size:13px;line-height:150%;color:#666;}
.tbl_contents_1 tbody{}
.tbl_contents_1 tbody tr{}
.tbl_contents_1 tbody tr th{padding: 13px 5px 13px 5px;color:#555;background-color:#f7f5ef;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
.tbl_contents_1 tbody tr td{padding: 13px 5px 13px 20px;color:#666;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.tbl_contents_1 tbody tr:first-child th{border-top:1px solid #ccc;}
.tbl_contents_1 tbody tr:first-child td{border-top:1px solid #ccc;}
.tbl_contents_1 tbody tr td > ul > li{padding: 0 0 5px 8px;background: url('/rs/images/common/icon_list_gray_dot.gif') 0 9px no-repeat;}

/* .tbl_contents_2 */
.tbl_contents_2{width:600px;table-layout:fixed;font-size:13px;line-height:16px;color:#666;border-bottom:1px solid #ccc;}
.tbl_contents_2 thead th{height:24px;padding: 8px 5px 8px 5px;vertical-align:middle;background-color:#f7f5ef;border-right:1px solid #ccc;border-top:1px solid #ccc;text-align:center;}
.tbl_contents_2 thead th:first-child{border-left:1px solid #ccc;}
.tbl_contents_2 tbody tr td{height:24px;padding: 8px 5px 8px 5px;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc;vertical-align:middle;}
.tbl_contents_2 tbody tr td:first-child{border-left:1px solid #ccc;}



/*
    일정 게시판  ==========================================================
*/
.calendar_container{position:relative;width:880px;}
.calendar_container .c_header{position:relative;height:50px;padding-top:20px;background-color:#e6e6e6;}
.calendar_container .c_header .panel{float:left;margin-left:109px;}
.calendar_container .c_header .panel .btn_month{float:left;display:block;width:16px;height:17px;margin-top:7px;background-position:0 0;background-repeat:no-repeat;}
.calendar_container .c_header .panel .btn_prev{background-image:url('/rs/images/common/btn_calendar_prev.gif');}
.calendar_container .c_header .panel .btn_next{background-image:url('/rs/images/common/btn_calendar_next.gif');}
.calendar_container .c_header .panel > span{float:left;display:block;margin:0 20px;font-family:NanumGothicBold, NanumGothic, sans-serif;color:#222;font-size:30px;line-height:100%;}
.calendar_container .c_header .panel .btn_today{float:left;display:block;margin:3px 0 0 10px;padding:7px 15px;background-color:#a6a6a6;}
.calendar_container .c_header .panel:after{content:'';display:block;clear:both;}
.calendar_container .c_header .month_select{float:right;margin-right:40px;}
.calendar_container .c_header .month_select > span{float:left;padding-top:8px;font-size:14px;line-height:100%;color:#666;}
.calendar_container .c_header .month_select .sel_year_wrap{float:left;position:relative;width:119px;height:30px;margin-left:19px;}
.calendar_container .c_header .month_select .sel_year_wrap select{width: 119px; height: 30px; border: 1px solid #ccc;}
.calendar_container .c_header .month_select .sel_month_wrap{float:left;width:119px;margin-left:11px;}
.calendar_container .c_header .month_select .sel_month_wrap select{width: 119px; height: 30px; border: 1px solid #ccc;}
.calendar_container .c_header .sbHolder { z-index:11;position:relative; display:inline-block; margin-left:0px; top:0px; left:0px; width:100%; height:28px; background:#FFF; border:1px solid #cbcbcb; font:12px/100% NanumGothic; 
    font-weight:normal; vertical-align:middle;}
.calendar_container .c_header .sbSelector { display:inline-block; position:absolute; padding-top:7px; top:0px; left:0px; width:100%; height:23px; line-height:30px; overflow:hidden; text-indent:20px; outline:none;text-indent:8px; }
.calendar_container .c_header .sbSelector:link, .calendar_container .c_header .sbSelector:visited, .calendar_container .c_header .sbSelector:hover { color:#666; text-decoration:none; line-height:30px; font:12px/100% NanumGothic; outline:none;}
.calendar_container .c_header .sbToggle { display:block; position:absolute; top:0px; right:0px; width:28px; height:28px; background:url('/rs/images/common/btn_calendar_select.gif') 0 0 no-repeat; outline:none; }
/*.calendar_container .c_header .sbToggleOpen { background:url('/rs/images/common/btn_calendar_select.gif') 0 -23px no-repeat; }*/
.calendar_container .c_header .sbOptions {  position:absolute; top:28px !important; left:-1px; width:100%; margin:0; padding:0; border:1px solid #cbcbcb; background:#FFF; overflow-y:auto; list-style:none; z-index:1; }
.calendar_container .c_header .sbOptions li { padding:0 5px; }
.calendar_container .c_header .sbOptions li:hover{background-color:#f0f0f0;}
.calendar_container .c_header .sbOptions a { display:block; padding:5px 0 5px 3px; outline:none; }
.calendar_container .c_header .sbOptions a:link, .sbOptions a:visited { color:#666; text-decoration:none; }
/*.calendar_container .c_header .sbOptions a:hover { color:#f15c22; }*/
.calendar_container .c_header .sbOptions li.last a { border-bottom:none; margin-bottom:5px;}
.calendar_container .c_contents{position:relative;}
.calendar_container .c_contents .sun{color:#f15c22;}
.calendar_container .c_contents table.month_day{width:880px;table-layout:fixed;font-size:13px;color:#666;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.calendar_container .c_contents table.month_day tr{background-color:#f9f9f9;}
.calendar_container .c_contents table.month_day th{height:24px;}

.calendar_container .c_contents .c_container{position:relative;border-bottom:1px solid #ccc;}
.calendar_container .c_contents .c_container ul.c_row{overflow:hidden;/*position:relative;*/border-top:1px solid #ccc;}
.calendar_container .c_contents .c_container ul.c_row li{float:left;width:125px;min-height:127px;padding-bottom:5px;border-right:1px solid #ccc;}
.calendar_container .c_contents .c_container ul.c_row li.today{margin-left:-1px;border:1px solid #f15c22;background-color:#f9f9f9;} /* 오늘 */
.calendar_container .c_contents .c_container ul.c_row li > span:first-child{display:block;padding:4px 0 3px 5px;height:15px;font-size:11px;line-height:100%;}
.calendar_container .c_contents .c_container ul.c_row .unit{z-index:1;overflow:hidden;position:relative;margin:1px 2px 0 2px;padding-left:12px;height:18px;border:1px solid #ebebeb;border-left:0;line-height:18px;
    background:#fff url('/rs/images/common/ico_calender_label.gif') 0 0 no-repeat;color:#666;}
.calendar_container .c_contents .c_container ul.c_row .unit.plan{} /* 예정 */
.calendar_container .c_contents .c_container ul.c_row .unit.progress{background-position:0 -20px;} /* 진행중 */
.calendar_container .c_contents .c_container ul.c_row .unit.complete{background-position:0 -40px;} /* 완료 */
.calendar_container .c_contents .c_container ul.c_row .unit.hide{visibility:hidden;}    /* 숨김 */
.calendar_container .c_contents .c_container ul.c_row .unit.x2{z-index:10;width:234px;}
.calendar_container .c_contents .c_container ul.c_row .unit.x3{z-index:10;width:360px;}
.calendar_container .c_contents .c_container ul.c_row .unit.x4{z-index:10;width:486px;}
.calendar_container .c_contents .c_container ul.c_row .unit.x5{z-index:10;width:612px;}
.calendar_container .c_contents .c_container ul.c_row .unit.x6{z-index:10;width:738px;}
.calendar_container .c_contents .c_container ul.c_row .unit.x7{z-index:10;width:861px;}
.calendar_container .c_contents .c_container ul.c_row .unit > a{overflow:hidden;display:block;color:#666;white-space:nowrap;text-overflow:ellipsis;}
.calendar_container .c_contents .c_container ul.c_row li:first-child{width:122px;border-left:1px solid #ccc;} 
.calendar_container .c_contents .c_container ul.c_row li:first-child > span:first-child{color:#f15c22;}
.calendar_container .c_contents .c_container ul.c_row li:first-child.today{margin-left:0;}
.calendar_container .c_contents .c_container ul.c_row li:first-child .unit.x2{width:231px;}
.calendar_container .c_contents .c_container ul.c_row li:first-child .unit.x3{width:357px;}
.calendar_container .c_contents .c_container ul.c_row li:first-child .unit.x4{width:483px;}
.calendar_container .c_contents .c_container ul.c_row li:first-child .unit.x5{width:609px;}
.calendar_container .c_contents .c_container ul.c_row li:first-child .unit.x6{width:735px;}
.calendar_container .c_contents .c_container ul.c_row li:first-child .unit.x7{width:861px;}
.calendar_container .c_contents .c_container ul.c_row:after{content:'';display:block;clear:both;}

.calendar_container .c_info{margin:10px 0;}
.calendar_container .c_info > ul li{float:left;padding-left:20px;margin-left:16px;height:15px;background-position:0 0;background-repeat:no-repeat;background-image:url('/rs/images/common/ico_calendar_footer_label.gif');color:#888;line-height:15px;}
.calendar_container .c_info > ul li.plan{margin-left:0;}
.calendar_container .c_info > ul li.progress{background-position:0 -15px;}
.calendar_container .c_info > ul li.complete{background-position:0 -30px;}
.calendar_container .c_info > p{float:right;color:#888;}
.calendar_container .c_info > p em{color:#f15c22;}
.calendar_container .c_info > p strong{color:#f15c22;text-decoration:underline;font-weight:normal;}
.calendar_container .c_info:after{content:'';display:block;clear:both;}

.calendar_container .c_over_popup{display:none;z-index:11;position:absolute;top:120px;left:10px;padding-top:10px;width:292px;min-height:114px;}
.calendar_container .c_over_popup ul{padding:18px 16px;border:1px solid #ccc;border-radius:4px;background-color:#f9f9f9;}
.calendar_container .c_over_popup ul li{margin-top:7px;}
.calendar_container .c_over_popup ul li:first-child{margin-top:0;}
.calendar_container .c_over_popup dl{font-size:12px;color:#888;line-height:16px;}
.calendar_container .c_over_popup dl dt{float:left;width:38px;padding-left:6px;background:url('/rs/images/common/icon_calendar_gray_dot.gif') 0 7px no-repeat;}
.calendar_container .c_over_popup dl dd{float:left;width:206px;padding-left:8px;background:url('/rs/images/common/dot_calendar_pop.png') 0 5px no-repeat;}
.calendar_container .c_over_popup dl:after{content:'';display:block;clear:both;}
.calendar_container .c_over_popup > span{position:absolute;top:0;left:14px;width:14px;height:11px;}
.calendar_container .c_popup{display:none;}

/* popup */
.pop_dim{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:9999; background: #000; opacity:.5; width:100%; height:100%;}
.popup{display:none; padding-right:0!important; width:100%; background:#f8981d; position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); z-index:99999; text-align:center;}
.popup > .head{position:relative; text-align:left; height:75px; color:#fff; }
.popup > .head .pop_close{position:absolute; top:50%; right:28px;  transform: translate(0%, -50%); border:none; width:28px; height:28px; background:url('/rs/images/common/pop_close.png')no-repeat center center; background-size:28px; box-sizing:border-box;}
.popup > .head .pop-tit{padding-left:25px; font-size:26px; font-weight:700; line-height:75px;}
.popup > .body{padding:40px; margin:3px; background:#fff;}
.popup > .body.pd30{padding:30px;}
.popup table{width:100%;}
.popup .university_search{position:static; margin-left:0; width:auto; text-align:left;}
.popup .university_search fieldset{width:auto; border:none; padding:0;}
.popup .university_search fieldset dl dd{padding-left:18px;}
.popup .university_search fieldset > p{text-align:left;}

/* top_popup */
.top_popup{position:relative; top:0; width:100%; height:120px; background:#f4d8aa; z-index:99999;}
.top_popup > .content{position:relative; display:block; max-width:1200px; height:100%; margin:0 auto; background:url('/rs/images/main/pop_top_bg.jpg')no-repeat center center;}
.top_popup .btn_close{position:absolute; right:0; bottom:45px; width:35px; height:35px; background:url('/rs/images/main/top_pop_close.png')no-repeat center center; border:none;}
.today_check{display:inline-block; position:absolute; right:0; bottom:10px; height:18px; border:none; }
.today_check input[type="checkbox"]{position: absolute;width:1px;height:1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0}/* 기본 체크박스 없애기 */
.today_check input[type="checkbox"] + label {display: inline-block; position: relative; padding-left:33px; letter-spacing:-0.5px; line-height:18px; color:#666; font-size:13px; padding-left:25px;  word-break:keep-all; cursor: pointer; -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none;user-select:none;}/* 웹의 경우 커서에 pointer 설정 */
.today_check input[type="checkbox"] + label:before {content: ' '; display: inline-block; position:absolute; top:4px; left:0; width:18px; height:18px; line-height:18px; margin:-4px 10px 0 0; text-align: center; vertical-align: middle; background:url('/rs/images/main/pop_check_off.png')no-repeat center left;}
.today_check input[type="checkbox"]:checked + label:before {background:url('/rs/images/main/pop_check_on.png')no-repeat center left;}



/* layer_popup */
.layer_popup{position:fixed; top:20%; left:50%;z-index:99999;}
.layer_popup > .content{position:relative; display:block; /*width:500px; height:600px;*/ margin:0 auto; background:url('/rs/images/main/layer_bg.jpg')no-repeat center center;}
.layer_popup .btn_box{position:relative; height:35px; background:#fff;}
.layer_popup .btn_box .btn_close{position:absolute; right:10px; bottom:0; width:50px; height:35px; font-size:13px; font-family:NanumGothicBold, NanumGothic, sans-serif; color:#666;  padding-left:23px; background:url('/rs/images/main/layer_pop_close.jpg')no-repeat left center; border:none;}
.layer_popup .today_check{display:inline-block; position:absolute; left:10px; bottom:10px; height:18px; border:none; }
.layer_popup .today_check input[type="checkbox"] + label:before{border: 1px solid #ccc; border-radius:4px; }

/* window_popup */
.window_popup{position:relative; width:100%; height:100%; display:block; text-align:center;}
.window_popup > .content{position:relative; display:block; height:100%; margin:0 auto;}
.window_popup .btn_box{position:absolute; bottom:0; right:0; width:100%; height:35px; background:#fff;}
.window_popup .btn_box .today_check{display:inline-block; position:absolute; right:10px; bottom:10px; height:18px; color:#666; font-size:13px; padding-left:25px; border:none;}
.window_popup .btn_box .today_check input[type="checkbox"] + label:before{border: 1px solid #ccc; border-radius:4px; }

/* no_result */
.no_result{text-align:center; margin-top:95px;}
.no_result > p{position:relative; display:inline-block; padding-left:30px; font-size:16px; color:#333;}
.no_result > p::before{content:''; position:absolute; top:-3px; left:0; width:22px; height:18px; background:url('/rs/images/common/ico_result_notice.png');}
.no_result .point{font-weight:700; color:#ff6f05;}

/* hwang 추가 */
.btn_orange4{display:inline-block;padding:9px 20px;font-size:13px;color:#fff;background-color:#ffa401;}  /* 조금 작음  주황 */
.pop{z-index:100;position:absolute;display:none;}

.txt-orange{color: #f8981d !important;padding-top:5px;}
.txt-green{color: #5d9914 !important;}
.txt-bk{color:#000 !important;}
.pdt15{padding-top:15px}
.pdb15{padding-bottom:15px;}
.btn-mycenter{padding:0 0 13px 0 !important}
.txt-left{text-align:left !important}
.line15{line-height:1.5em !important}

.newitemupdate img{padding-top: 12px;}

.nomargin{margin:0 !important}
.mgt40{margin-top:40px !important;}
.mgr5{margin-right:5px !important;}
.w80 {width:80px !important;text-align:left !important;color:#000 !important;}
.w90 {width:90px !important;text-align:left !important;color:#000 !important;}
/* 20141211 수정 */
.w80 label,.w90 label{vertical-align:middle;line-height:18px}
.i_file-wrap{position: relative;width:190px;height:25px;overflow:hidden;}
.i_file { position: absolute !important;width:72px !important;height:19px !important;font-size:20px !important;right:0 !important;top:0 !important;opacity:0 !important;filter:alpha(opacity=0) !important;-ms-filter:"alpha(opacity=0)" !important;-khtml-opacity:0 !important;-moz-opacity:0 !important;cursor:pointer !important}
.i_file-btn{position: absolute;background-color: #aaa; text-align:center; width:72px; color:#fff; display:block; font-size:12px; height:25px !important; padding:5px 10px !important; margin-left:10px !important;line-height:100%;top:0;cursor:pointer !important}


.ellipsis{
	white-space:nowrap;
	text-overflow:ellipsis;		/* IE, Safari */
	-o-text-overflow:ellipsis;		/* Opera under 10.7 */
	overflow:hidden;			/* "overflow" value must be different from "visible" */ 
	-moz-binding: url('ellipsis.xml#ellipsis');
}

/* 20200611 추가 */
.float_left{
    float:left;
}
.float_right{
    float:right;
}
#wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-width:1200px;
}
.inner{
	position: relative;
	width: 1200px;
	margin: 0 auto;
    box-sizing: border-box;
}
#top_btn{
	display:none;
	position:fixed;
	right:15px;
	bottom:100px;
	z-index:100;
    border: none;
}
.quick_top{
	display:none;
}