@font-face{
    font-family:'NanumGothic';
    font-style:normal;
    font-weight:normal;
    src: url('/fonts/NanumGothic');
    src:url('/fonts/NanumGothic.eot');
    src:local('?'), url('/fonts/NanumGothic.woff') format('woff'), url('/fonts/NanumGothic.ttf') format('truetype');
}
@font-face{
    font-family:'NanumGothicBold';
    font-style:normal;
    font-weight:normal;
    src: url('/fonts/NanumGothicBold');
    src:url('/fonts/NanumGothicBold.eot');
    src:local('?'), url('/fonts/NanumGothicBold.woff') format('woff'), url('/fonts/NanumGothicBold.ttf') format('truetype');
}

* {margin:0; padding:0; -webkit-text-size-adjust:none;}
html {overflow-y:scroll;}
html, body {height:100%; min-height:100%;}
body, select, textarea, input {font:12px/100% NanumGothic, "나눔고딕", Dotum, "돋움", gulim, "굴림", verdana, sans-serif; color:#333; border:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object, textarea, a, img {padding: 0; margin: 0;}
table {border-collapse:collapse; border-spacing:0;}
table img {vertical-align:middle;}
select, input, table tr td, table tr th {vertical-align:middle;}
form, fieldset, abbr, acronym {border:0;}
img {border:0; vertical-align:top;}
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, th, var {font-weight:normal; font-style:normal;}
ol, ul, li {list-style:none;}
table td a {display:inline-block;}
table caption {display:none;}
a {text-decoration:none;}
input[type="image"] {vertical-align:top;}

.clearfix {
    zoom:1;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

#accessibility, hr, caption, legend {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; text-indent:-5000px;}
.skip {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; text-indent:-5000px;} /* 이미지, 플래시 속 내용 */
.pop{overflow:hidden;left:50%;background-color:#fff;border:3px solid #f8981d;}
.pop > p{height: 56px;padding-left: 16px;font-size: 20px;line-height: 56px;font-family: NanumGothicBold, NanumGothic, sans-serif;background-color: #f8981d;color: #fff6ea;}
.pop > .btn_close_popup{position: absolute;top: 12px;right: 12px;width: 21px;height: 21px;background: url('/rs/images/enter/btn_close_popup.png') 0 0 no-repeat;text-indent: -9999px;}
.pop > div{}
.pop .btn_area{margin:20px 0 0 0;text-align:center;}
.pop .btn_area a{display:inline-block;height:30px;padding:0 20px;background-color:#f15c22;font-size:13px;color:#fff;line-height:30px;}
.pop .btn_area a:first-child{margin-right:2px;}

/* 내 미션 수행 기록 보기 팝업  */
.pop_record{top:0;width:404px;height:334px;margin-left:-202px;}
.pop_record > div > p{height:30px;padding:30px 0 0 30px;font-size:15px;line-height:15px;color:#222;}
.pop_record > div > ul{padding:0 0 0 30px;background:url('/rs/images/noti/fourletter/pop_border.gif') 30px 0 no-repeat;}
.pop_record > div > ul li{height:31px;background:url('/rs/images/noti/fourletter/pop_border.gif') 0 100% no-repeat;}
.pop_record > div > ul li dl{}
.pop_record > div > ul li dl dt{float:left;height:31px;padding-left:20px;font-family: NanumGothicBold, NanumGothic, sans-serif;font-size:13px;color:#222;line-height:31px;background:url('/rs/images/noti/fourletter/bg_leaf1.gif') 0 50% no-repeat;}
.pop_record > div > ul li dl dt.leaf2{background:url('/rs/images/noti/fourletter/bg_leaf2.gif') 0 50% no-repeat;}
.pop_record > div > ul li dl dd{float:left;height:31px;padding-left:4px;font-size:13px;color:#777;line-height:31px;}
.pop_record > div > ul li dl:after{content:'';display:block;clear:both;}

/* 내가 모은 이벤트 글자보기 팝업 */
.pop_collect{top:0;width:334px;height:304px;margin-left:-167px;}
.pop_collect > div{padding:30px 0 0 30px;}
.pop_collect > div > p{height:30px;font-size:15px;line-height:15px;color:#222;}
.pop_collect > div > ul{height:155px;background:url('/rs/images/noti/fourletter/bg_pop_collect.gif') 0 0 no-repeat;}
.pop_collect > div > ul li{}
.pop_collect > div > ul li dl{}
.pop_collect > div > ul li dl dt{float:left;width:41px;height:51px;padding-left:30px;font-family: NanumGothicBold, NanumGothic, sans-serif;font-size:13px;color:#222;line-height:51px;background:url('/rs/images/noti/fourletter/bg_leaf1.gif') 10px 50% no-repeat;}
.pop_collect > div > ul li dl dt.leaf2{background:url('/rs/images/noti/fourletter/bg_leaf2.gif') 10px 50% no-repeat;}
.pop_collect > div > ul li dl dd{float:left;height:41px;padding-top:10px;}
.pop_collect > div > ul li dl dd > span{display:block;float:left;width:34px;height:34px;margin:0 8px 0 8px;font-size:18px;line-height:34px;font-family: NanumGothicBold, NanumGothic, sans-serif;color:#fff;text-align:center;
    background:url('/rs/images/noti/fourletter/bg_word1.png') 0 0 no-repeat;}
.pop_collect > div > ul li dl dd > span.on{background-position:0 -34px;}
.pop_collect > div > ul li dl dd:after{content:'';display:block;clear:both;}
.pop_collect > div > ul li dl:after{content:'';display:block;clear:both;}

/* 보너스 코너 당첨결과 완료팝업 */
.pop_bonus_comp{top:0;width:404px;height:304px;margin-left:-202px;}
.pop_bonus_comp > div .bg_point{padding:110px 0 10px;background:url('/rs/images/noti/fourletter/bg_pop_bonus_comp.jpg') 50% 30px no-repeat;}
.pop_bonus_comp > div .bg_point > p{text-align:center;font-size:35px;line-height:35px;color:#999;}
.pop_bonus_comp > div .bg_point > p strong{text-align:center;font-size:35px;line-height:35px;color:#f15c22;font-family: NanumGothicBold, NanumGothic, sans-serif;}

/* 보너스 코너 당첨결과 미완료팝업 */
.pop_bonus_incomp{top:0;width:404px;height:334px;margin-left:-202px;}
.pop_bonus_incomp > div > p{height:48px;padding:30px 0 0 30px;font-size:15px;line-height:19px;color:#222;}
.pop_bonus_incomp > div > ul{padding:0 0 0 30px;background:url('/rs/images/noti/fourletter/pop_border.gif') 30px 0 no-repeat;}
.pop_bonus_incomp > div > ul li{height:31px;background:url('/rs/images/noti/fourletter/pop_border.gif') 0 100% no-repeat;}
.pop_bonus_incomp > div > ul li dl{}
.pop_bonus_incomp > div > ul li dl dt{float:left;height:31px;padding-left:20px;font-family: NanumGothicBold, NanumGothic, sans-serif;font-size:13px;color:#222;line-height:31px;background:url('/rs/images/noti/fourletter/bg_leaf1.gif') 0 50% no-repeat;}
.pop_bonus_incomp > div > ul li dl dt.leaf2{background:url('/rs/images/noti/fourletter/bg_leaf2.gif') 0 50% no-repeat;}
.pop_bonus_incomp > div > ul li dl dd{float:left;height:31px;padding-left:4px;font-size:13px;color:#777;line-height:31px;}
.pop_bonus_incomp > div > ul li dl:after{content:'';display:block;clear:both;}

/* 미션(1) 수행 완료 팝업 */
.pop_mission{top:0;width:404px;height:393px;margin-left:-202px;}
.pop_mission > div{padding:30px 30px 0 30px;}
.pop_mission > div .word{}
.pop_mission > div .word > p{padding-bottom:9px;font-size:15px;line-height:15px;color:#222;}
.pop_mission > div .word > p > em{color:#f15c22;}
.pop_mission > div .word > div{width:345px;height:59px;background:url('/rs/images/noti/fourletter/bg_pop_mission_word.gif') 0 0}
.pop_mission > div .word > div > span{display:block;float:left;width:230px;height:58px;font-size:28px;color:#999;line-height:58px;text-align:center;}
.pop_mission > div .word > div > span strong{color:#f15c22;font-family: NanumGothicBold, NanumGothic, sans-serif;}
.pop_mission > div .word > div > span:first-child{width:115px;}
.pop_mission > div .word > div:after{content:'';display:block;clear:both;}
.pop_mission > div .record{padding-top:23px;}
.pop_mission > div .record > p{padding:0 0 10px 20px;font-size:13px;color:#777;background:url('/rs/images/noti/fourletter/bg_leaf1.gif') 0 4px no-repeat;}
.pop_mission > div .record > p em{color:#222;}
.pop_mission > div .record > div{width:345px;height:84px;background:url('/rs/images/noti/fourletter/bg_pop_mission_record.gif') 0 0 no-repeat;}
.pop_mission > div .record > div span{display:block;float:left;width:51px;height:51px;margin:15px 17px 0 18px;font-family: NanumGothicBold, NanumGothic, sans-serif;font-size:27px;line-height:51px;color:#fff;
    text-align:center;background:url('/rs/images/noti/fourletter/bg_word2.png') 0 0 no-repeat;}
.pop_mission > div .record > div span.on{background-position:0 -51px;}
.pop_mission > div .record > div span:after{content:'';display:block;clear:both;}

/* 이벤트 만족도 조사 참여안내 */
.pop_survey{top:0;width:741px;height:518px;margin-left:-370px;}
.pop_survey > div{width:661px;padding:40px 0 0 40px;}
.pop_survey > div > p{font-size:13px;line-height:16px;color:#666;}
.pop_survey > div > span{display:block;padding:12px 0 16px;font-size:12px;color:#888;}
.pop_survey > div > table{width:661px;table-layout:fixed;border-bottom:2px solid #ccc;font-size:13px;}
.pop_survey > div > table .col_1{width:64px;}
.pop_survey > div > table .col_2{width:136px;}
.pop_survey > div > table .col_3{width:92px;}
.pop_survey > div > table thead{}
.pop_survey > div > table thead th{padding:8px 5px 8px 5px;text-align:center;border-top:2px solid #ccc;border-right:1px solid #ccc;font-family: NanumGothicBold, NanumGothic, sans-serif;}
.pop_survey > div > table thead th.bg_head{background-color:#f7f5ef;}
.pop_survey > div > table thead th:first-child{border-left:1px solid #ccc;}
.pop_survey > div > table tbody{}
.pop_survey > div > table tbody tr th{border-top:1px solid #ccc;border-right:1px solid #ccc;background-color:#f7f5ef;}
.pop_survey > div > table tbody tr th:first-child{border-left:1px solid #ccc;}
.pop_survey > div > table tbody tr td{height:24px;padding:8px 5px 8px 5px;text-align:center;border-top:1px solid #ccc;border-right:1px solid #ccc;}

.pop_survey > div > table tbody tr:first-child th{border-top:2px solid #ccc;}
.pop_survey > div > table tbody tr:first-child td{border-top:2px solid #ccc;}

/* 만족도 조사 완료 팝업 */
.pop_survey_comp{top:0;width:334px;height:194px;margin-left:-167px;}
.pop_survey_comp > .btn_close_popup{top:15px;right:15px;width:21px;height:21px;background:url('/rs/images/noti/fourletter/btn_pop_close.gif') 0 0 no-repeat;}
.pop_survey_comp > div > p{padding:50px 0 15px;font-size:24px;line-height:24px;color:#f8981d;font-family: NanumGothicBold, NanumGothic, sans-serif;text-align:center;}
.pop_survey_comp > div > span{display:block;font-size:13px;color:#666;text-align:center;}
.pop_survey_comp > div .btn_area{margin-top:30px;}
.pop_survey_comp > div .btn_area a{background-color:#f8981d;}

/* 사이트 유입경로 조사 안내 */
.pop_eventRoute{top:0;width:430px;height:390px;margin-left:-215px;}
.pop_eventRoute > div > p{padding:30px 0px 20px 30px;font-size:15px;line-height:110%;color:#222;font-weight:600}
.pop_eventRoute > div > ul{padding:0 0 0 30px;background:url('/rs/images/noti/fourletter/pop_border.gif') 30px 0 no-repeat;}
.pop_eventRoute > div > ul li{height:31px;background:url('/rs/images/noti/fourletter/pop_border.gif') 0 100% no-repeat;padding-left:4px;font-size:13px;color:#777;line-height:31px;}

