* { margin:0; padding:0; }
body {margin:0px; padding:0px; font-family:'돋움', 'dotum', 'AppleGothic'; font-size:12px; color:#767676;  -webkit-text-size-adjust:none }
img, fieldset { border:0px; }
caption {visibility:hidden; width:0;height:0;text-indent:-9999px;color:#767676}
table { border-collapse:collapse; }
ul, ol { list-style-type:none; }

  a:link    { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#6A6A6A; }
  a:visited { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#6A6A6A; }
  a:active  { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#6A6A6A; }
  a:hover   { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#FB712E; }
  
  a.num:link    { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; font-weight:bold;}
  a.num:visited { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; font-weight:bold;}
  a.num:active  { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#444331; font-weight:bold;}
  a.num:hover   { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#FB712E; font-weight:bold;}


  a.album:link    { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; font-weight:bold;}
  a.album:visited { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; font-weight:bold;}
  a.album:active  { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#444331; font-weight:bold;}
  a.album:hover   { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#FB712E; font-weight:bold;}
  
  a.album2:link    { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#893f08; font-weight:bold;}
  a.album2:visited { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#893f08; font-weight:bold;}
  a.album2:active  { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#893f08; font-weight:bold;}
  a.album2:hover   { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#472104; font-weight:bold;}

  a.schedul_title:link    { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; }
  a.schedul_title:visited { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; }
  a.schedul_title:active  { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; }
  a.schedul_title:hover   { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#FB712E; }
  
  a.welfare_main_schedul_txt:link    { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; }
  a.welfare_main_schedul_txt:visited { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; }
  a.welfare_main_schedul_txt:active  { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#6A6A6A; }
  a.welfare_main_schedul_txt:hover   { font-family:돋움,Verdana,Helvetica; font-size:11px; text-decoration:none; color:#FB712E; }
  
  a.welfare_main_notice:link    { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#746938; }
  a.welfare_main_notice:visited { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#746938; }
  a.welfare_main_notice:active  { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#746938; }
  a.welfare_main_notice:hover   { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#FB712E; }

  a.love_main_txt:link    { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#EAE2AE; }
  a.love_main_txt:visited { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#EAE2AE; }
  a.love_main_txt:active  { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#EAE2AE; }
  a.love_main_txt:hover   { font-family:돋움,Verdana,Helvetica; font-size:12px; text-decoration:none; color:#FAF21F; }









/********** common ******************************************************/

td {text-decoration:none; font-size:12px; color:#6A6A6A; font-family:돋움,verdana; line-height:1.2em;}
body { background-color: #ffffff; SCROLLBAR-FACE-COLOR: #F0F1EE; SCROLLBAR-HIGHLIGHT-COLOR:#F0F1EE; SCROLLBAR-SHADOW-COLOR: #BBBCB5; SCROLLBAR-3DLIGHT-COLOR: #BBBCB5; SCROLLBAR-ARROW-COLOR: #BBBCB5; SCROLLBAR-DARKSHADOW-COLOR: #F0F1EE; SCROLLBAR-BASE-COLOR: #BBBCB5;}
images,a { border:0;selector-dummy:expression(this.hideFocus=true); }
.location01 {text-decoration:none; font-size:11px; color:#7F7E73; font-family:돋움,verdana;}
.location02 {text-decoration:none; font-size:11px; color:#000000; font-family:돋움,verdana;}
.txt1 { font-weight:bold; font-size:12px; color:#444444;}

img {border:0}

#header {position:relative;display:inline-block;width:933px}
h1.logo{position:absolute;top:0px;left:0px}
.util {position:absolute;top:0px;right:0px;height:29px}
	.util li{float:left}
.gnb {padding-left:215px;padding-top:29px}

/***** board *****/
.board { height:28px; padding-top:3px; text-align:center}
.board_list { height:28px; padding-top:6px;}
.board_title { height:28px; padding-top:3px; padding-left:5px;}
.board_line1 { height:1px; background-color: #FDC6AB;}
.board_line2 { height:2px; background-color: #FB712E;}
.board_view_title { padding-top:3px; color:#FB712E;}
.board_view_content { padding-top:20px; padding-bottom:20px; padding-right:5px; padding-left:5px;}
.board_bottom-padding { padding-bottom:8px;}
.board-padding { padding-top:8px; padding-bottom:8px;}
.board_top-padding { padding-top:8px;}
.board_left_top_53 { padding-left:5px;padding-top:3px;}
.board_top_3 { padding-top:3px;}

/***** schedul *****/
.schedul { height:65px; padding-top:10px;padding-bottom:10px; padding-right:15px; padding-left:15px;line-height:1.2em; background-image: url(../images/common/schedule_08.gif);}
.schedul_date {text-decoration:none; font-size:11px; color:#404040; font-family:돋움,verdana;font-weight:bold;}
.schedul_date_sat {text-decoration:none; font-size:11px; color:#046CBB; font-family:돋움,verdana;font-weight:bold;}
.schedul_date_sun {text-decoration:none; font-size:11px; color:#FF4E00; font-family:돋움,verdana;font-weight:bold;}
.schedul_month {text-decoration:none; font-size:18px; color:#FF4E00; font-family:돋움,verdana;font-weight:bold;}
.schedul_over {text-decoration:none; font-size:12px; color:#FF4E00; font-family:돋움,verdana;font-weight:bold;}


/***** welfare *****/
.welfare_main_schedul { padding-bottom:7px; padding-right:7px; padding-left:7; text-align:center;line-height:1.2em; width:96px}
.welfare_main_date { font-size:11px; color:#333333;}
.welfare_main_date_today { font-size:11px; color:#FB712E; font-weight:bold;}
.welfare_left { padding-left:10; padding-top:8px; padding-bottom:8px;}


/***** member *****/
.member_privacy_margin { padding-bottom:15px; padding-right:25px; padding-left:25; padding-top:15; }
.member_privacy_title { height:20px; font-weight:bold; color:#666666;}
.join_line { height:1px; background-color: #E4E4E4;}
.join_left { padding-left:10;}
.pop_back  { BACKGROUND-COLOR: #FAFAFA;}
.calendar_year {color:#000000; font-weight:bold;  font-size:13px;}


/***** love *****/
.love_left { padding-left:10;}
.love_right { padding-right:10;}


/***** happy *****/
.happy_line1 { height:1px; background-color: #D8D7CB;}
.happy_line2 { height:28px; background-color: #FEFEF4; font-weight:bold; color:#877B4F;}


/***** patient *****/ 
.patient_txt1 { font-weight:bold; color:#FFF5C9; padding-top:3; text-align:center;}
.patient_txt2 { color:#7A682F; padding-right:45 ; text-align:center;}


/***** enjoy *****/ 
.enjoy_txt1{ color:#88642F; padding-top:10;}


/***** back *****/ 


.main_back {
	background-attachment: scroll;
	background-image: url(../images/main_new/main_back.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #fefed9
}



.main_bottom {
	background-attachment: scroll;
	background-image: url(../images/main/bottom_main.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.main_bottom_new {
	background-attachment: scroll;
	background-image: url(/images/main/bottom_main_new.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.sub_bottom {
	background-attachment: scroll;
	background-image: url(../images/common/bottom_sub.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.sub_back {
	background-attachment: scroll;
	background-image: url(../images/common/sub_back.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}


.sub_navi_back {
	background-attachment: scroll;
	background-image: url(../images/common/sub_navi_back.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.enjoy_back {
	background-attachment: scroll;
	background-image: url(../images/enjoy/img_11.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}


.enjoy_pop_back {
	background-attachment: scroll;
	background-image: url(../images/enjoy/img_31.gif);
	background-repeat: repeat-x;
	background-position: left top;
	BACKGROUND-COLOR: #EAE5BD;
}


.edit
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #D4D4D4 1px solid;
    BORDER-LEFT: #D4D4D4 1px solid;
    BORDER-RIGHT: #D4D4D4 1px solid;
    BORDER-TOP: #D4D4D4 1px solid;
    COLOR: #6A6A6A;
    FONT-FAMILY: 돋움;
    FONT-SIZE: 12px
}
.edit_login
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #CAC2AA 1px solid;
    BORDER-LEFT: #CAC2AA 1px solid;
    BORDER-RIGHT: #CAC2AA 1px solid;
    BORDER-TOP: #CAC2AA 1px solid;
    COLOR: #6A6A6A;
    FONT-FAMILY: 돋움;
    FONT-SIZE: 12px
}
.edit_join01
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #6A6A6A;
    FONT-FAMILY: 돋움;
    FONT-SIZE: 12px
}
.edit_join02
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #D4D4D4 1px solid;
    BORDER-LEFT: #D4D4D4 1px solid;
    BORDER-RIGHT: #D4D4D4 1px solid;
    BORDER-TOP: #D4D4D4 1px solid;
    COLOR: #6A6A6A;
    FONT-FAMILY: 돋움;
    FONT-SIZE: 12px
}

.divLayer {
	position:absolute;
	z-index:1;
	visibility: hidden;
	border: 0px solid #C93D00;
}

.divLayer2 {
	position:absolute;
	z-index:1;
	visibility: hidden;
	border: 0px solid #C93D00;
}


/***** mail *****/ 

.board_left10 {
	PADDING-LEFT: 10px
}


.txt14 {
	FONT-SIZE: 12px; COLOR: #623f2d
}


.txt4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fb712e
}

.mail_back {
	BACKGROUND-COLOR: #f1eeeb
}


/***** game_picture *****/ 

.pic_9FF6600 { 
	color:#FF6600; font-weight:bold;
}

.pic_u15FF6600 { 
	color:#FF6600; font-weight:bold; text-decoration: underline; font-size:15px;
}

.pic_f15b { 
	font-size:15px; font-weight:bold; line-height:125%;letter-spacing:-1px;
}

.pic_paging {
	font-family:verdana; font-size:11px; letter-spacing:-1px; color:#777777; font-weight:bold;
}

a.pic_paging:link		{font-family:verdana; font-size:11px; text-decoration:none; color:#777777; font-weight:bold;}
a.pic_paging:visited	{ font-family:verdana; font-size:11px; text-decoration:none; color:#454545; font-weight:bold; }
a.pic_paging:active		{ font-family:verdana; font-size:11px; text-decoration:none; color:#F95C17; font-weight:bold; }
a.pic_paging:hover		{ font-family:verdana; font-size:11px; text-decoration:underline; color:#F95C17; font-weight:bold; }


/***** game_braille *****/ 

.sum_txt {
	font-family:Dotum; font-size:16px; color:#454545; font-weight:bold;
}

.recom1 {
	font-family:Dotum; font-size:11px; color:#666; line-height:18px;
}
.sum_ul {
	background:url(img/ul_d.gif) left bottom repeat-x;
	font-family:Dotum; color:#ff4e00; font-weight:bold;
}

.bx_tx {
	color:#964823; font-weight:bold;
}
.bx_tx2 {
	color:#ff4e00; font-weight:bold;
}
.bx_tx3 {
	color:#037b70; font-weight:bold;
}
.bra_paging {
	font-family:verdana; font-size:10px; letter-spacing:-1px; color:#964823;
}

a.bra_paging:link		{font-family:verdana; font-size:10px; text-decoration:none; color:#964823;}
a.bra_paging:visited	{ font-family:verdana; font-size:10px; text-decoration:none; color:#454545; }
a.bra_paging:active		{ font-family:verdana; font-size:10px; text-decoration:none; color:#964823; }
a.bra_paging:hover		{ font-family:verdana; font-size:10px; text-decoration:underline; color:#964823; }



/***** sign_interview *****/ 
.inter_01 {
	font-family:Dotum,verdana; font-size:12px; letter-spacing:-1px; color:#fd6118; font-weight:bold;
}

a.inter_01:link		{font-family:Dotum,verdana; font-size:12px; text-decoration:none; color:#fd6118; font-weight:bold;}
a.inter_01:visited		{ font-family:Dotum,verdana; font-size:12px; text-decoration:none; color:#fd6118; font-weight:bold; }
a.inter_01:active		{ font-family:Dotum,verdana; font-size:12px; text-decoration:none; color:#fd6118; font-weight:bold; }
a.inter_01:hover		{ font-family:Dotum,verdana; font-size:12px; text-decoration:underline; color:#fd6118; font-weight:bold; }


/* 수화게임학교 추가 20110323 */ 
.game_grade {text-decoration:none; font-size:14px; color:#bf1f00; font-family:돋움,verdana;font-weight:bold;}
.game_white {text-decoration:none; font-size:12px; color:#ffffff; font-family:돋움,verdana;font-weight:bold;letter-spacing:-1px;}
.game_white_big {text-decoration:none; font-size:14px; color:#ffffff; font-family:돋움,verdana;font-weight:bold;letter-spacing:-1px;}
.game_yellow {text-decoration:none; font-size:14px; color:#fffc00; font-family:돋움,verdana;font-weight:bold;line-height:24px;}

/* 수화게임대회 아이디어공모전 20110520 */
.idea { font-family:Dotum,verdana; font-size:12px; color:#666666; padding:5px;}
a.idea:link		{font-family:Dotum,verdana; font-size:12px; text-decoration:none; color:#666666;padding:5px;}
a.idea:visited		{ font-family:Dotum,verdana; font-size:12px; text-decoration:none; color:#666666;padding:5px;}
a.idea:active		{ font-family:Dotum,verdana; font-size:12px; text-decoration:none; color:#666666;padding:5px;}
a.idea:hover		{ font-family:Dotum,verdana; font-size:12px; text-decoration:underline; color:#be4807;padding:5px;}

.idea_left { font-family:Dotum,verdana; font-size:12px; color:#be4807; padding:5px;}
.idea_left_c { font-family:Dotum,verdana; font-size:12px; color:#be4807; padding:5px;text-align:center;}
.idea_center { font-family:Dotum,verdana; font-size:12px; color:#666666;text-align:center;}
.idea_content { font-family:Dotum,verdana; font-size:12px; color:#9a6b39; padding:10px;background:#fff4de;line-height:16px;}

#bodyContainer {width:781px;margin-bottom:40px}
#subHeader {margin-top:23px;}
	#subHeader.vis04 {height:150px;background:url('/images/volunteer/sub_img.gif') no-repeat}
	#subHeader p ,  #subHeader h3{margin:0px;padding:0px}
	#subHeader .path{height:14px}

.volunteer .applyTab{display:inline-block;margin-top:14px;width:100%;text-align:right}
.volunteer .applyTab ul {float:right;margin:0px;padding:0px}
.volunteer .applyTab ul li {float:left;list-style:none}
.volunteer .applyTab ul li a{display:block}
.volunteer p.title{padding:20px 0px 7px;margin:0px}
.applyForm {width:780px;border-top:solid 2px #fb712e;border-bottom:solid 2px #fb712e;margin-bottom:10px}
.applyForm caption{font-size:0;line-height:0}
.applyForm  th {border-bottom:solid 1px #e4e4e4;border-right:solid 1px #e4e4e4;background-color:#fff7f2;color:#fb671f;font-size:12px;text-align:center;padding:3px 0px;letter-spacing:-0.1em;line-height:140%}
.applyForm  th.last{border-right:none}
.applyForm  th.lbg{border-left:solid 1px #e4e4e4;}
.applyForm  th.th2{background-color:#fdfaf8;border-left:solid 1px #e4e4e4;}
.applyForm  td {border-bottom:solid 1px #e4e4e4;border-left:solid 1px #e4e4e4;color:#666666;font-size:12px;padding:3px 5px;line-height:150%}
.applyForm  td dl.name {width:150px;margin:0px;padding:0px}
.applyForm  td dl.name dd {margin:0;padding:0px 0px 1px}
.applyForm  td dl.name dd.e{padding:0px}
.applyForm  td dl.name dd input {height:18px;font-size:12px}
.applyForm  td strong {color:#fc905b}
.applyForm .ipt {border:solid 1px #dddddd;color:#666666}
.applyForm .photo  {background-color:#ffdac8;text-align:left}
.applyForm #photoDiv {display:block;text-align:center}
.applyForm #photoDiv .pimg{border:solid 1px #dbdbdb;margin-bottom:5px;}
.applyForm .byte{color:#767676;font-weight:normal;letter-spacing:0;margin-top:5px;padding:0px}

.applyForm2{width:600px}
table, th, td {border-collapse:collapse; border-spacing:0; border:0;}
table thead th {text-align:center;}
caption {visibility:hidden; width:0;height:0;text-indent:-9999px;color:#767676}
select {vertical-align:top;font-size:12px;color:#666666}
textarea {font-size:12px;line-height:140%;padding:5px;color:#666666}

.wallpaper {display:inline-block;width:720px;margin-bottom:30px}
.wallpaper li{float:left;width:180px;padding-bottom:30px}

#bodyContainer h4 {margin-bottom:15px}
.rbox {display:inline-block;width:630px;background:url('/images/volunteer/rbox_bg.gif') no-repeat;}
.rboxBottom {display:inline-block;width:630px;background:url('/images/volunteer/rbox_bottom.gif') no-repeat;padding-top:25px;text-align:center;margin-bottom:30px}
	.rbox dl {margin:25px 25px 0px}
	.rbox dl dt {padding:5px 0px 8px}
	.rbox dl dd {padding-bottom:10px;color:#818181;line-height:150%}
	.rbox .stit {margin:25px 25px 8px;color:#454545;font-weight:bold;}
	.rbox .stit span{color:#fe821c}

.insuApplyForm {margin:0px 25px 0px;width:580px;border-top:solid 2px #fb712e;margin-bottom:10px}
.insuApplyForm caption{font-size:0;line-height:0}
.insuApplyForm  th {background:url('/images/volunteer/bult_dot.gif') 10px 15px  no-repeat;border-bottom:solid 1px #cbcbcb;background-color:#f4f4f4;color:#484848;font-size:12px;padding:10px 5px 9px 15px;text-align:left}
.insuApplyForm  th.last{border-right:none}
.insuApplyForm  td {border-bottom:solid 1px #cbcbcb;color:#666666;font-size:12px;padding:6px 5px 6px 15px;line-height:150%}
.insuApplyForm input.txt {padding:2px;border:solid 1px #dddddd;color:#666666}

/*설문조사레이어팝업 140207*/
.layerpopWrap{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:300}
.layerpopWrap .mask{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.layerpopWrap .evtServey
{position:fixed;top:100px;left:50%;width:500px;height:447px;margin-left:-250px;border:1px solid #eee;background:url('/images/enjoy/event/140207/img1.jpg') no-repeat 0 0;z-index:305}
.layerpopWrap 
.evtComp{position:fixed;top:100px;left:50%;width:500px;height:447px;margin-left:-250px;border:1px solid #eee;background:url('/images/enjoy/event/140207/img2.jpg') no-repeat 0 0;z-index:305}

* html .layerpopWrap .evtServey,* html .layerpopWrap .evtComp{
position:absolute; 
top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(15 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
.layerpopWrap .evtServey table{width:460px;margin:150px auto 0;border:solid #ff6215;border-width:2px 0}
.layerpopWrap .evtServey table thead{width:100%;height:48px}
.layerpopWrap .evtServey table thead th{height:48px;border-left:1px solid #efddd4;background:#fef5f0;color:#000;font-size:11px;font-weight:bold}
.layerpopWrap .evtServey table thead th:first-child{border-left:none}
.layerpopWrap .evtServey table tbody th, .layerpopWrap .evtServey table tbody td{height:28px;border:solid #efddd4;border-width:1px 0 0 1px;background:#fff;font-size:11px;color:#000;font-weight:normal}
.layerpopWrap .evtServey table tbody th{padding-left:10px;text-align:left}
.layerpopWrap .evtServey table tbody td.num{text-align:center}
.layerpopWrap .evtServey a.srvClose{display:block;position:absolute;right:0;top:0;width:38px;height:38px;text-indent:-9999px;overflow:hidden}
.layerpopWrap .evtServey a.submit{display:block;position:absolute;left:184px;bottom:27px;width:117px;height:38px;text-indent:-9999px;overflow:hidden}
.layerpopWrap .evtComp a.popClose{display:block;position:absolute;left:184px;bottom:27px;width:117px;height:38px;text-indent:-9999px;overflow:hidden}