
/* 연혁 */
.intro_history ul.newTab {position:relative;width:900px;padding-bottom:50px;font-size:13px;color:#777;}
.intro_history ul.newTab:after {content:'';display:block;clear:both;}
.intro_history ul.newTab > li {float:left;width:300px;height:100%;}
.intro_history ul.newTab > li > a {display:block;height:35px;margin-bottom:80px;padding-top:11px;text-align:center;color:#777;font-family:NanumGothicBold, NanumGothic, sans-serif;
    background:url('/rs/images/biz/bg_tab_network.png') 0 0 no-repeat;cursor:pointer;}
.intro_history ul.newTab > li > a {
  background:url('../../resources/images/biz/bg_tab_network.png') 0 0 no-repeat;
}    
.intro_history ul.newTab > li > a.on {background-position:-70px -46px;color:white;}
.intro_history ul.newTab > li > div{display:none;position:relative;width:900px;left:-300px;}
.intro_history ul.newTab > li:nth-child(3) > div {left:-600px;}
.intro_history ul.newTab > li:first-child > div{display:block;left:0;}
.intro_history ul.newTab > li > div:after{content:'';display:block;clear:both;}
.intro_history .newYear{width:420px;margin-top:30px;} /*230428 수정*/
.intro_history .newYear > img{display:block;float:right;margin-bottom:24px;}
.intro_history .newYear > .yearNumRight {font-family:'SangSangTitleM';font-size:50px;line-height:1;height:40px;color:#ffa401;font-weight:400;letter-spacing:-0.05em;text-align:right;margin-bottom:10px}
.intro_history .newYear > .yearNumLeft {font-family:'SangSangTitleM';font-size:50px;line-height:1;height:40px;color:#ffa401;font-weight:400;letter-spacing:-0.05em;text-align:left;margin-bottom:10px}
.intro_history .newYear > .yearNumRightRed {font-family:'SangSangTitleM';font-size:50px;line-height:1;height:40px;color:#f15c22;font-weight:400;letter-spacing:-0.05em;text-align:right;margin-bottom:10px}
.intro_history .newYear > .yearNumLeftRed {font-family:'SangSangTitleM';font-size:50px;line-height:1;height:40px;color:#f15c22;font-weight:400;letter-spacing:-0.05em;text-align:left;margin-bottom:10px}
.intro_history .newYear > ul{clear:both;}
.intro_history .newYear > ul > li{margin-top:18px; letter-spacing:-1px;} /*230428 수정*/
.intro_history .newYear > ul li > dl dt{float:right;clear:both;width:40px;text-align:right;font-size:13px;font-family:NanumGothicBold, NanumGothic, sans-serif;color:#555;line-height:19px;}
.intro_history .newYear > ul li > dl dd{float:right;margin-top:0;}
.intro_history .newYear > ul li:after{content:'';display:block;clear:both;}
.intro_history .newYear dd > ul{}
.intro_history .newYear dd > ul li{line-height:20px;text-align:right;}
.intro_history .newYear.orange > ul li > dl dt{color:#ffa401;}  */
.intro_history .newYear.red > ul li > dl dt{color:#f15c22;}
.intro_history .newYear.left{}
.intro_history .newYear.right {margin-right:15px;} /*230428 추가*/
.intro_history .newYear.right > img{float:left;}
.intro_history .newYear.right > ul li > dl dt{float:left;clear:both;text-align:left;}
.intro_history .newYear.right > ul li > dl dd{float:left;}
.intro_history .newYear.right dd > ul li{text-align:left;}
.intro_history .newYear.y_2022{float:left;		margin-top:0px;		padding-top:0;	padding-bottom:30px;	/*background:url('/rs/images/intro/bg_y_2021.jpg') -60px 0px no-repeat;*/} /*230424 cnrk*/
.intro_history .newYear.y_2021{float:right;	margin-top:0px;		padding-top:200px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2013.jpg') 0px 0px no-repeat;}
.intro_history .newYear.y_2020{float:left;	margin-top:0px;		padding-top:360px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2021.jpg') -60px 0px no-repeat;}
.intro_history .newYear.y_2019{float:right;	margin-top:0px;		/*padding-top:310px;*/	padding-bottom:30px;	/*background:url('/rs/images/intro/bg_y_2020.jpg') 0px 0px no-repeat;*/}
.intro_history .newYear.y_2018{float:left;		margin-top:0px;		padding-top:330px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2019.jpg') 10px 0px no-repeat;}
.intro_history .newYear.y_2017{float:right;	margin-top:0px;		padding-top:400px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2018.jpg') center 0 no-repeat;}
.intro_history .newYear.y_2016{float:left;		margin-top:60px;	padding-top:290px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2017.jpg') center 0 no-repeat;}
.intro_history .newYear.y_2015{float:right;	margin-top:0px;		padding-top:280px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2016.jpg') 30px 0px no-repeat;}
.intro_history .newYear.y_2014{float:left;		margin-top:60px;	padding-top:480px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2014.jpg') center 0 no-repeat;}
.intro_history .newYear.y_2013{float:right;	margin-top:0px;		padding-top:280px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2015.jpg') -30px -30px  no-repeat;}
.intro_history .newYear.y_2012{float:left;		margin-top:60px;	padding-top:230px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2013.jpg') 0px 0px no-repeat;}
.intro_history .newYear.y_2011{float:right;	margin-top:20px;	padding-top:230px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2010.jpg') 0 0 no-repeat;}
.intro_history .newYear.y_2010{float:left;		margin-top:60px;	padding-top:230px;	padding-bottom:30px;	background:url('/rs/images/intro/bg_y_2012.jpg') 0px 10px no-repeat;}

.intro_history .newYear.y_2009{float:left;margin-top:0;padding-bottom:215px;background:url('/rs/images/intro/bg_y_2009.jpg') 0 100% no-repeat;}
.intro_history .newYear.y_2008{float:right;margin-top:0;padding-top:216px;background:url('/rs/images/intro/bg_y_2008.jpg') 0 0 no-repeat;}
.intro_history .newYear.y_2007{float:left;padding-bottom:215px;background:url('/rs/images/intro/bg_y_2007.jpg') 0 100% no-repeat;}
.intro_history .newYear.y_2006{float:right;padding-top:216px;background:url('/rs/images/intro/bg_y_2006.jpg') 0 0 no-repeat;}
.intro_history .newYear.y_2005{float:left;}
.intro_history .newYear.y_2004{float:right;padding-top:216px;background:url('/rs/images/intro/bg_y_2004.jpg') 0 0 no-repeat;}
.intro_history .newYear.y_2003{float:left;margin-top:60px;padding-bottom:215px;background:url('/rs/images/intro/bg_y_2003.jpg') 0 100% no-repeat;}


.intro_history .year > ul li > dl dt{
    font-weight: 700;
    font-family: 'SUIT' !important;
    font-size: 15px;
}
.intro_history .year dd > ul li{
    font-size: 14px;
}
.intro_history ul.newTab> li > a{
    font-weight: 700;
    font-family: 'SUIT' !important;
    font-size: 15px;
}
/*.intro_history ul.newTab > li > div{display:none;position:relative;width:900px;left:-300px;}*/
.intro_history ul.newTab > li > div.new-year-list {
    
}
.intro_history ul.newTab > li > div.new-year-list .new-year {
    display: flex;
}


/*연혁 리뉴얼 25050710*/
.history {
  max-width: 900px;
  margin: 0 auto;
  border-top: 1px solid #D9D9D9;
}
/**position: relative;*/
.history-item {
  display: flex;
  gap: 40px;
  padding: 64px 0 64px 0;
  border-top: 0px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}


.history-item.year2024 {
    padding-bottom: 105px;
}
.history-item.year2023 {
    padding-bottom: 125px;
}
.history-item.year2022 {
    padding-bottom: 85px;
}
.history-item.year2021 {
    padding-bottom: 90px;
}
.history-item.year2020 {
    padding-bottom: 100px;
}
.history-item.year2019 {
    padding-bottom: 105px;
}
.history-item.year2018 {
    padding-bottom: 225px;
}
.history-item.year2016 {
    padding-bottom: 80px;
}

.history-item.year2015 {
    padding-bottom: 140px;
}
.history-item.year2014 {
    padding-bottom: 160px;
}


.history-item.year2012 {
    padding-bottom: 180px;
}
.history-item.year2011 {
    padding-bottom: 100px;
}
.history-item.year2010 {
    padding-bottom: 155px;
}
.history-item.year2009 {
    padding-bottom: 130px;
}
.history-item.year2007 {
    padding-bottom: 145px;
}
.history-item.year2006 {
    padding-bottom: 130px;
}
.history-item.year2005 {
    padding-bottom: 70px;
}


.year-item {
    color: #484848;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    justify-content: stretch;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.year-item .year-num {
    font-family: SUIT;
}

.history .month-list {
  flex-grow: 1;
  list-style: none;
  padding: 0;
}

.history .month-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  gap: 30px;
}

.history .month {
    flex-shrink: 0;
    width: 48px;
    color: #000;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.history .desc {
    flex-grow: 1;
    color: #000;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    position: relative;
    top:0; left:0;
    display: inline-block;
    padding-left: 16px;
}
.history .desc .text-desc {
    flex-grow: 1;
    color: #000;
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    position: relative;
    top:0; left:0;
    display: inline-block;
    padding-left: 16px;
}
.history .desc::before {
    content: '-';
    clear: both;
    display: block;
    position: absolute;
    top:0px;
    left:0;
    color: #000;
}
/*transform: translateY(-50%);*/
.history .month-list .desc-list {
    display: flex;
    flex-direction: column;
    gap:8px;
}

/*cursor: pointer;*/
.history .desc.img-hover {
    
}
/*left:-480px;*//*display: none;*/
/*top:130px; left:-0px;*/
.history .desc.img-hover .img {
    position: absolute;
    top: 66px;
    left:-418px;
    width:300px;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
}
.history .desc.img-hover .img.img_history_2024_10 {
    top:18px;
}
.history .desc.img-hover .img.img_history_2023_7 {
    top:34px;
}
.history .desc.img-hover .img_history_2023_2 {
    top: -86px;
}


.history .desc.img-hover .img.img_history_2020_10 {
    top:18px;
}
.history .desc.img-hover .img.img_history_2019_3 {
    top:-30px;
}
.history .desc.img-hover .img.img_history_2017_6 {
    top:18px;
}
.history .desc.img-hover .img.img_history_2017_1_7 {
    top:-206px;
}

.history .desc.img-hover .img.img_history_2016_10 {
    top:18px;
}
.history .desc.img-hover .img_history_2015_3 {
    top:-14px;
}
.history .desc.img-hover .img_history_2014_2 {
    top:-46px;
}

.history .desc.img-hover .img_history_2013_10 {
    top:18px;
}

.history .desc.img-hover .img_history_2013_5 {
    top:-166px;
}
.history .desc.img-hover .img_history_2011_3 {
    top:-62px;
}
.history .desc.img-hover .img_history_2010_2 {
    top:18px;
}
.history .desc.img-hover .img_history_2009_6 {
    top: -30px;
}
.history .desc.img-hover .img_history_2007_12 {
    top: 34px;
}

.history .desc.img-hover .img_history_2006_4 {
    top:-78px;
}

.history .desc.img-hover .img_history_2005_5 {
    top:-94px;
}
.history .desc.img-hover .img_history_2004_5 {
    top:-190px;
}
/*font-weight: 500;*/
.history .desc.img-hover.act {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}
/*display: block;*/
.history .desc.img-hover.act .img {
    opacity: 1;
    z-index: 1;
}
/*padding-right: 11px;padding-right: 10px;
font-weight: 500;
*/
.history .desc.act {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}
.history .dot {
    width: 6px;
    height: 6px;
    background-color: #F15C22;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top:-11px;
}
/* position: absolute;  top:0; right:0;*/

.year-item .img {
    /*
    width: 300px;
    min-height: 300px;
    background-color: #484848;
    */
}
.year-item .img img{
    display: none;
}
.year-item .img.act img {
     display: block;
}
.year-item .img img.img-act.act {display: block;}

