@charset "utf-8";
@import url('../css/reset.css');
/*@import url('reset.css');*/

/*storybook*/
.wrap { position:relative; width:100%;  margin: 0 auto;}
.book .header {position:absolute; display:inline-block; top:0px; left:0px; margin-top:15px; margin-left:20px; z-index:1;}
.book .header h1 {float:left; color:#fff; font:15px/100% NanumGothicBold; }
.book .header .line {float:left; width:1px; height:14px; background:#fff; margin:0 10px; }
.book .header h3 {float:left; color:#fff; font:15px/100% NanumGothic; }
.book .header h3:after{content:""; display:block; clear:both;}

/*book*/
.book { position:relative; width:880px; height:650px; background:#f8981d; left:0; top:0;}
.book .mybook {position:relative; width:874px; height:602px; background:#fff; top:45px; left:3px; background:url('../images/book.jpg') 80px 40px no-repeat; background-color: #fff; }
.book .mybook .imgcover {position:absolute; width:640px; height:480px; margin: 40px 117px; overflow:hidden; border:1px solid red;}

.book .mybook .imgcover > div { position:absolute; width:320px; height:480px;left:0; top:0; }

.book .mybook .imgcover #box1 {position:absolute; width:640px; height:480px; left:0; top:0; }
.book .mybook .imgcover #box2 {position:absolute; width:640px; height:480px; left:0; top:0;  }

.book .mybook .imgcover .left { position:absolute; width:50%; left:0; overflow:hidden; }
.book .mybook .imgcover .right { position:absolute; width:50%; left:320px; overflow:hidden; } 


/*감상평남기기,닫기 버튼*/
.book .mybook .wbtn {position:absolute;  width:89px; height:21px; right:80px; bottom:30px; background:#fff; border:1px solid #ccc; font:12px/100% NanumGothicBold; color:#888; padding:7px 0 0 19px }
.book .mybook .wbtn:hover {background:#f8981d; border:1px solid #ccc; font:12px/100% NanumGothicBold; color:#fff; }
.book .close {position:absolute; right:0; top:0; width:24px; height:24px; background:url('../images/close.png') 0 0 no-repeat; margin:10px 20px; cursor:pointer; z-index:1;}


/*prev next 버튼*/
.btnBox > button {position: absolute; width:32px; height:53px; text-indent:-9999px; overflow: hidden; border:none; cursor:pointer;}
.btnBox .prevBtn {background: url("../images/btn_left.jpg") 0 0 no-repeat; left:30px; top:255px; text-indent: -20000px;}
.btnBox .prevBtn:hover {background: url("../images/btn_left.jpg") -32px 0 no-repeat;}
.btnBox .nextBtn {background: url("../images/btn_right.jpg") 0 0 no-repeat; right:30px; top:255px; text-indent: -20000px;}
.btnBox .nextBtn:hover {background: url("../images/btn_right.jpg") -32px 0 no-repeat;}


/*.flipbook { left:160px }*/


