<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, maximum-scale=2, minimum-scale=1">
<meta name="format-detection" content="telephone=no" />
<meta name="keywords" content="기부,기부금,지역아동센터,공모전,종합사회복지관,사회복지사,대학생활동,의료비지원,대학생봉사활동,사회공헌,봉사활동,자원봉사,지원사업,경차지원,해외봉사,봉사,학생자원봉사,대학생해외봉사,기업사회공헌,복지재단,후원금,사회복지재단,복지,의료비,정기후원,대학생봉사" />


<meta property="og:url" content=" https://m.ktngwelfare.org/m">
<meta property="og:title" content="KT&amp;G복지재단">
<meta property="og:description" content="KT&amp;G복지재단에 오신것을 환영합니다.">		
<meta property="og:image" content="https://www.ktngwelfare.org/rs/images/ktng_ogImage.png">
	
	
<title>'KT&amp;G복지재단'</title>

<!-- 기존 소스 수정 안함 -->
<!--<link rel="stylesheet" href="../../../resources/mobile/css/contents.css">-->

<!-- 운영 버전과 같음 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@5.3.6/js/swiper.min.js"></script>

<script src="https://www.youtube.com/iframe_api"></script>

<!-- 운영 버전과 같음 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@5.3.6/css/swiper.min.css">

<!-- 메인 리뉴얼 추가 -->
<script type="text/javascript" src="../../../resources/mobile/js/ui-renew2025.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
<link rel="stylesheet" href="../../../resources/mobile/css/renewal-contents-2025.css">
<link rel="stylesheet" href="../../../resources/mobile/css/renewal-main-2025.css">
<!--// 메인 리뉴얼 추가 -->

</head>
<body>
<div id="wrapper">
  <header id="header" class="head-wrap">
    <div class="navi-inner">
      <div class="logo-area">
          <h1 class="logo">
              <a href="/"><img src="../../../resources/mobile/img/common/logo-h1.png" alt="KT&amp;G 복지재단"></a>
          </h1>
      </div>
      <div class="all allmenu-link mo">
          <button class="btn-hamburger btn-allmenu allmenu-js" id="btnAll" aria-label="전체 메뉴 열기">
              <img src="../../../resources/mobile/img/common/allmenu.png" alt="전체메뉴">
          </button>
      </div>
    </div><!--//navi-->
    <!-- --show -->
    <div class="all-menu " >
      <div class="all-content">
        <div class="all-header">
          <div class="nav_sign_box">
              <!--<button class="float_left cls_btn"><img src="/rs/mobile/img/main/gnb_close.png" alt="메뉴 닫기"></button>-->
              <ul class="lg_sign_box clearfix">
								<li>
									<a href="/m/account/login" class="lg_btn"><img src="../../../resources/mobile/img/common/img_lg_sign.png" alt="로그인"></a>
								</li>
              </ul>
          </div>
        </div><!--//all-header-->
        <div class="nav-view-box">
          <ul class="nav_allmenu_list all-navi-js">
            <li class="num1">
              <a class="" href="javascript:void(0)"><span>재단소개</span></a>
              <ul class="depth2-item-list">							            
                <li><a href="javascript:void(0)" class="dep"><span>재단소개</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>인사말</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>연혁</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>조직도</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>오시는길</span></a></li>
              </ul>
            </li>
            <li class="num2">
              <a class="" href="javascript:void(0)" ><span>사업안내</span></a>
              <ul class="depth2-item-list" >
                  <li>
                    <a href="javascript:void(0)" class="dep " ><span>국내사업</span></a>
                  </li>
                  <li><a href="javascript:void(0)" class="dep"><span>해외사업</span></a></li>
              </ul>
            </li>
            <li class="num3">
              <a class="" href="javascript:void(0)" ><span>복지센터</span></a>
              <ul class="depth2-item-list">
                <li>
                  <a href="javascript:void(0)" class="dep"><span>복지센터 안내</span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="dep"><span>지역별 복지센터</span></a>
                </li>
              </ul>
            </li>
            <li class="num4">
              <a class="" href="javascript:void(0)" ><span>자원봉사센터<br />(&터)</span></a>
              <ul class="depth2-item-list">
                <li>
                  <a href="javascript:void(0)" class="dep " ><span>자원봉사센터 사업안내</span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="dep"><span>공지사항</em></span></a>
                </li>
                <li><a href="javascript:void(0)" ><span>프로그램 신청</span></a></li>
                <li>
                  <a href="javascript:void(0)" class="dep " ><span>게시판</em></span></a>
                </li>
                <li><a href="javascript:void(0)" class="dep"><span>오시는길</span></a></li>
              </ul>
            </li>
            <li class="num5">
              <a class=""  href="javascript:void(0)" ><span>후원</span></a>
              <ul class="depth2-item-list">
                <li><a href="javascript:void(0)" class="dep"><span>후원자 안내</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>일시후원</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>정기후원</span></a></li>
                <li><a href="javascript:void(0)" class="dep"><span>후원금 모금내역</span></a></li>
              </ul>
            </li>
          </ul><!--//nav_allmenu_list-->
          <div class="nav_footer" role="menu">
            <div class="li"><a href="/m/about/terms" aria-label="이용약관">이용약관</a></div>
            <div class="li"><a href="/m/about/privacy" aria-label="개인정보처리방침">개인정보처리방침</a></div>
          </div>
        </div><!--//nav-view-box-->
        
        <!--//nav_allmenu_list-->
        <button type="button" class="btn-close" id="btnCloseJs" aria-label="전체 메뉴 닫기">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M3.70312 4L20.6737 20.9706" stroke="#111111" stroke-linecap="round"/>
            <path d="M3 21L19.9706 4.02944" stroke="#111111" stroke-linecap="round"/>
          </svg>
        </button>
      </div><!--//all-content-->
    </div><!--//all-menu-->
  </header> 

  <div class="container new_container">
    <div class="section contents_section">
        <div class="inner">
          <div class="conts_box">
            <h3 class="page_tit">뉴스레터 신청</h3>
            <form name="" id="" method="post">
              <fieldset>
                <legend></legend>
                <div class="form-conts">
                  <div class="li">
                    <h4 class="h4">구독 유형</h4>
                    <div class="form-lable first">
                      <div class="form-cell">
                        <input type="radio" id="newsletterYN1_label1" name="newsletterYN1" value="뉴스레터 신청" > 
                        <label for="newsletterYN1_label1"><span></span>뉴스레터 신청</label>
                      </div>
                      <div class="form-cell">
                        <input type="radio" id="newsletterYN1_label2" name="newsletterYN1" value="뉴스레터 취소" > 
                        <label for="newsletterYN1_label2"><span></span>뉴스레터 취소</label>  
                      </div>
                    </div>
                  </div>
                  <div class="li">
                    <h4 class="h4">이름</h4>
                    <div class="form-lable">
                      <input type="text" id="name" placeholder="이름을 입력해주세요" value="">
                    </div> 
                  </div>
                  <div class="li">
                    <h4 class="h4">이메일</h4>
                    <div class="form-lable">
                      <input type="email" id="user-email" placeholder="예) hyundai@hyundai.com">
                    </div> 
                  </div>
                  <div class="li line-x">
                    <div class="info-box">
                      <div class="form-lable">
                        <input type="checkbox" name="infoAgree" id="infoAgree" >
                        <label for="infoAgree"><span></span><em class="line">개인정보 수집·이용</em>에 동의합니다.</label>
                      </div>
                      <div>
                        <a href="" class="a-view">
                          자세히보기
                        </a>
                      </div>
                    </div>
                  </div>
                  <a href="" class="btn-application">신청하기</a>
                </div><!--//form-conts-->
              </fieldset>
            </form><!--//form-->

          </div><!--//conts_box-->
        </div><!--//inner-->
    </div><!--//section contents_section-->
  </div><!--//new_container-->

  <script>
  //패밀리 사이트
  $(function() {
    if ($('.familysite-js').length) {
      $(".familysite-js .btn_family").click( function( e ){
        e.preventDefault();
        if( $(this).parent(".familysite-js").hasClass( "on" ) ){ // 접기        
          $(this).parent(".familysite-js").removeClass("on");
          $(".familysite-js > ul").fadeOut(500);
        }else{
          $(this).parent(".familysite-js").addClass("on");
          $(".familysite-js > ul").fadeIn(300);
        }
      });
    }	

    // TOP 버튼 
    $('.btn-top-js').on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({ scrollTop: 0 }, 500);
    });
  });
  </script>

  <!-- 퀵메뉴-->
  <div class="quick-menu">
    <div class="quick-inner">
      <a href="https://www.ktngwelfare.org/notice/news" class="btn_floating btn-notice">
        <span>공지사항</span>
      </a>
      <a href="https://www.ktngwelfare.org/support/online/once/step01" class="btn_floating btn-donate">
        <span>
          후원
        </span>
      </a>
      <button type="button" class="btn_floating btn-top btn-top-js">
        <span>TOP</span>
      </button>
    </div>
  </div>

  <footer id="footer" class="footer">
    <div class="footer-top-line">
      <div class="footer-top">
          <div>
              <h2>KT&G복지재단의 <br />다양한 소식을 전합니다.</h2>
              <p>지금 이메일 구독을 통해 <br />따뜻한 재단소식을 받아보세요.</p>
          </div>
          <a href="" class="footer-btns btns-subscribe">뉴스레터 구독하기수</a>
      </div>
    </div>
    <div class="footer-inner">
      <div class="footer-bottom">
        <div class="footer-right">
          <div class="familysite-box familysite-js">
            <a href="javascript:;" class="btn_family">
              Family Site
              <span class="icon"></span>
            </a>
            <ul>
              <li><a href="https://www.ktng.com" target="_blank">KT&amp;G</a></li>
              <li>
                <a href="https://www.kgc.co.kr" target="_blank">KGC인삼공사</a>
              </li>
              <li>
                <a href="https://www.sangsangmadang.com" target="_blank">KT&amp;G상상마당</a>
              </li>
              <li>
                <a href="https://scholarship.ktngtogether.com" target="_blank">KT&amp;G장학재단</a>
              </li>
            </ul>
          </div>
          <a href="https://m.ktngwelfare.org/m/notice/nomember" class="footer-btns btns-contact">홈페이지 문의 접수</a>
        </div>
        <div class="foot-link-wrap">
          <div class="footer-links">
            <a href="https://www.ktngwelfare.org/introduce/location">오시는길</a>
          </div>
          <div class="footer_site_info">
            <div class="footer-info">
              사회복지법인 케이티엔지복지재단 <br />(고유번호:120-82-0672) | 대표자 민영진
            </div>
            <div class="footer-info">
              (06181) 서울특별시 강남구 대치로 98길 8, 14층 <br />(대치동, KT&G 대치타워)
            </div>
            <div class="footer-info">
              대표전화 02-563-4459 | 9시~18시 (12~13시 제외)
            </div>
          </div>
        </div>
      </div><!--//footer-bottom-->
    </div><!--//footer-inner-->
  </footer>
</div>
<!--//wrapper-->
</body>
</html>